{% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/partials/_footer.css' %}"
/>
<footer>
  <div class="container">
    <div class="footer-top">
      <img
        src="{% static 'images/partials/logos/_footer/footer_logo.svg' %}"
        alt=""
        class="footer-top__photo"
      />
      <ul class="footer-top__list">
        <li><h4 class="footer-top__item-title">Company</h4></li>
        <li>
          <a href="#" class="footer-top__item-link">About</a>
        </li>
        <li><a href="#" class="footer-top__item-link">Jobs</a></li>
        <li>
          <a href="#" class="footer-top__item-link">Newsroom</a>
        </li>
        <li>
          <a href="#" class="footer-top__item-link">Advertising</a>
        </li>
        <li>
          <a href="#" class="footer-top__item-link"
            >Contact us</a
          >
        </li>
      </ul>
      <ul class="footer-top__list">
        <li><h4 class="footer-top__item-title">Explore</h4></li>
        <li>
          <a href="#" class="footer-top__item-link">Multnomah County</a>
        </li>
        <li>
          <a href="#" class="footer-top__item-link"
            >Washington County</a
          >
        </li>
        <li>
          <a href="#" class="footer-top__item-link">Clackamas County</a>
        </li>
        <li>
          <a href="#" class="footer-top__item-link">Lane County</a>
        </li>
        <li>
          <a href="#" class="footer-top__item-link">Marion County</a>
        </li>
        <li>
          <a href="#" class="footer-top__item-link">Jackson County</a>
        </li>
        <li>
          <a href="#" class="footer-top__item-link footer-top__item-link_blue">See more</a>
        </li>
      </ul>
      <ul class="footer-top__list">
        <li>
          <h4 class="footer-top__item-title">Terms and Policies</h4>
        </li>
        <li>
          <a href="#" class="footer-top__item-link"
            >Privacy Policy</a
          >
        </li>
        <li>
          <a href="#" class="footer-top__item-link"
            >Terms of use</a
          >
        </li>
        <li>
          <a href="#" class="footer-top__item-link"
            >Acessibility</a
          >
        </li>
        <li>
          <a href="#" class="footer-top__item-link"
            >Reward system policy</a
          >
        </li>
      </ul>
      <ul class="footer-top__list">
        <li><h4 class="footer-top__item-title">Help</h4></li>
        <li>
          <a href="#" class="footer-top__item-link">Support</a>
        </li>
        <li>
          <a href="#" class="footer-top__item-link"
            >Cancel your bookings</a
          >
        </li>
        <li>
          <a href="#" class="footer-top__item-link">Use Coupon</a>
        </li>
        <li>
          <a href="#" class="footer-top__item-link"
            >Refund Policies</a
          >
        </li>
        <li>
          <a href="#" class="footer-top__item-link"
            >International Travel Documents</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-bottom__copyright-container">
      <img
        src="{% static 'images/partials/icons/_footer/copyright_gray.svg' %}"
        alt=""
        class="footer-bottom__copyright-icon"
      /><span class="footer-bottom__copyright-text">my Dream Place 2023</span>
    </div>
  </div>
</footer>
