{% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/partials/_hotels_search_form.css' %}"
/>

<!-- Connecting styles for autocomplete JS search script -->
<link
  rel="stylesheet"
  href="{% static 'node_modules/@trevoreyre/autocomplete-js/dist/style.css' %}"
/>

<!-- Connecting styles for JS calendar script -->
<link
  rel="stylesheet"
  href="{% static 'node_modules/flatpickr/dist/flatpickr.min.css' %}"
/>

<form
  class="booking-search-form"
  method="get"
  action="{% url 'search_hotels' %}"
>
  <div class="booking-search-form__item booking-search-form__item__geo" id="booking-search-form__item-geo">
    <img
      src="{% static 'images/partials/icons/_hotels_search_form/geo_gray.svg' %}"
      alt="Geolocation icon"
      class="booking-search-form__item-icon"
    />
    <input
      type="text"
      class="booking-search-form__geo-input"
      id="destination"
      name="destination"
      placeholder="Where are you going?"
      required
    />
    <ul class="autocomplete-result-list"></ul>
  </div>

  <div class="booking-search-form__item booking-search-form__item__calendar">
    <img
      src="{% static 'images/partials/icons/_hotels_search_form/calendar_gray.svg' %}"
      alt="Calendar icon"
      class="booking-search-form__item-icon"
    />
    <input
      type="text"
      id="checkin"
      name="checkin"
      placeholder="Check-in date"
      required
    />
  </div>
  <div class="booking-search-form__item booking-search-form__item__calendar">
    <img
      src="{% static 'images/partials/icons/_hotels_search_form/calendar_gray.svg' %}"
      alt="Calendar icon"
      class="booking-search-form__item-icon"
    />
    <input
      type="text"
      id="checkout"
      name="checkout"
      placeholder="Check-out date"
      required
    />
  </div>
  <div class="booking-search-form__item booking-search-form__item__guests" onload="setGuests()">
    <img
      src="{% static 'images/partials/icons/_hotels_search_form/guests_gray.svg' %}"
      alt="Guests icon"
      class="booking-search-form__item-icon"
    />
    <input
      type="text"
      id="guests"
      name="guests"
      placeholder="Guests & Rooms"
      readonly
    />
    <div
      class="booking-search-form__drop-down-menu"
      id="guests-input-container-dropdown-menu"
    >
      <div class="booking-search-form__drop-down-menu-item">
        <span class="booking-search-form__drop-down-menu-label">Adults</span>
        <div class="booking-search-form__drop-down-menu-choice_container">
          <button
            type="button"
            class="booking-search-form__drop-down-menu-button-minus"
            onclick="changeCount('adults', 'minus')"
            disabled
          >
            -
          </button>
          <span
            id="adults-count"
            class="booking-search-form__drop-down-menu-count"
            onchange="updateGuestsInput()"
            >1</span
          >
          <button
            type="button"
            class="booking-search-form__drop-down-menu-button-plus"
            onclick="changeCount('adults', 'plus')"
          >
            +
          </button>
        </div>
      </div>
      <div class="booking-search-form__drop-down-menu-item">
        <span class="booking-search-form__drop-down-menu-label">Children</span>
        <div class="booking-search-form__drop-down-menu-choice_container">
          <button
            type="button"
            class="booking-search-form__drop-down-menu-button-minus"
            onclick="changeCount('children', 'minus')"
            disabled
          >
            -
          </button>
          <span
            id="children-count"
            class="booking-search-form__drop-down-menu-count"
            onchange="updateGuestsInput()"
            >0</span
          >
          <button
            type="button"
            class="booking-search-form__drop-down-menu-button-plus"
            onclick="changeCount('children', 'plus')"
          >
            +
          </button>
        </div>
      </div>
      <div class="booking-search-form__drop-down-menu-item">
        <span class="booking-search-form__drop-down-menu-label">Rooms</span>
        <div class="booking-search-form__drop-down-menu-choice_container">
          <button
            type="button"
            class="booking-search-form__drop-down-menu-button-minus"
            onclick="changeCount('rooms', 'minus')"
            disabled
          >
            -
          </button>
          <span
            id="rooms-count"
            class="booking-search-form__drop-down-menu-count"
            onchange="updateGuestsInput()"
            >1</span
          >
          <button
            type="button"
            class="booking-search-form__drop-down-menu-button-plus"
            onclick="changeCount('rooms', 'plus')"
          >
            +
          </button>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="booking-search-form__submit-button">
    Search
  </button>
</form>

<!-- Autocomplete script to search destinations -->
<script src="{% static 'node_modules/@trevoreyre/autocomplete-js/dist/autocomplete.min.js' %}"></script>
<script src="{% static 'js/partials/_hotels_search_form/county_autocomplete.js' %}"></script>

<!-- Script to showing calendar to choose check in and check out dates -->
<script src="{% static 'node_modules/flatpickr/dist/flatpickr.js' %}"></script>
<script src="{% static 'js/partials/_hotels_search_form/calendar.js' %}"></script>

<!-- Script to show or hide drop down menu for choosing amount of guests -->
<script src="{% static 'js/partials/_hotels_search_form/guests_dropdown.js' %}"></script>

<!-- Script to choose guests amount -->
<script src="{% static 'js/partials/_hotels_search_form/guests_dropdown_choice.js' %}"></script>
