{% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/partials/_navigation.css' %}"
/>

<nav class="header-menu">
  <ul class="header-menu__list">
    <li class="header-menu__item">
      <a href="{% url 'home' %}" class="header-menu__link">Home</a>
    </li>
    <li class="header-menu__item">
      <a href="#" class="header-menu__link">Discover</a>
    </li>
    <li class="header-menu__item">
      <a href="#" class="header-menu__link">Activities</a>
    </li>
    <li class="header-menu__item">
      <a href="#" class="header-menu__link">About</a>
    </li>
    <li class="header-menu__item">
      <a href="#" class="header-menu__link">Contact</a>
    </li>
  </ul>
</nav>
{% if user.is_authenticated %}
<div class="header-user-profile-container">
  <img
    src="{% static 'images/partials/icons/_navigation/notification_gray.png' %}"
    alt="User notification"
    class="header-user-profile-container__notifications-icon"
  />
  <div class="header-user-profile-container__user-avatar">
    <img
      src="{{ user.avatar.url }}"
      class="header-user-profile-container_user-photo"
      alt="User Image"
      id="user-profile-dropdown-trigger"
    />
    <div
      class="header-user-profile-container__dropdown-menu"
      id="user-profile-dropdown-menu"
    >
      <div class="header-uer-profile-container__dropdown-menu-item-container">
        <a
          href="#"
          class="header-user-profile-container__dropdown-menu-item-link"
        >
          <img
            src="{% static 'images/partials/icons/_navigation/account_gray.svg' %}"
            alt="Account icon"
            class="header-user-profile-container__dropdown-menu-link-item-icon"
          />
          <span
            class="header-user-profile-container__dropdown-menu-link-item-text"
            >Manage account</span
          >
        </a>
      </div>
      <div class="header-uer-profile-container__dropdown-menu-item-container">
        <a
          href="#"
          class="header-user-profile-container__dropdown-menu-item-link"
        >
          <img
            src="{% static 'images/partials/icons/_navigation/trips_gray.svg' %}"
            alt="Account icon"
            class="header-user-profile-container__dropdown-menu-link-item-icon"
          />
          <span
            class="header-user-profile-container__dropdown-menu-link-item-text"
            >My trips</span
          >
        </a>
      </div>
      <div class="header-uer-profile-container__dropdown-menu-item-container">
        <a
          href="#"
          class="header-user-profile-container__dropdown-menu-item-link"
        >
          <img
            src="{% static 'images/partials/icons/_navigation/wallet_gray.svg' %}"
            alt="Account icon"
            class="header-user-profile-container__dropdown-menu-link-item-icon"
          />
          <span
            class="header-user-profile-container__dropdown-menu-link-item-text"
            >Reward and wallet</span
          >
        </a>
      </div>
      <div class="header-uer-profile-container__dropdown-menu-item-container">
        <a
          href="{% url 'logout' %}"
          class="header-user-profile-container__dropdown-menu-item-link"
        >
          <img
            src="{% static 'images/partials/icons/_navigation/signout_gray.svg' %}"
            alt="Account icon"
            class="header-user-profile-container__dropdown-menu-link-item-icon"
          />
          <span
            class="header-user-profile-container__dropdown-menu-link-item-text"
            >Sign out</span
          >
        </a>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="header-button-container">
  <a href="{% url 'registration' %}" class="header-button-container__register-link"
    ><button class="header-button-container__register-button">
      Register
    </button></a
  >
  <a href="{% url 'signin' %}" class="header-button-container__signin-link"
    ><button class="header-button-container__signin-button">Sign In</button></a
  >
</div>

{% endif %} 

{% if user.is_authenticated %}
<!-- Script to activate drop down menu when user clicks on the avatar -->
<script src="{% static 'js/partials/_navigation/user_drop_down_menu.js' %}"></script>
{% endif %}
