{% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/partials/_room_search_form.css' %}"
/>

<!-- Connecting styles for JS calendar script -->
<link
  rel="stylesheet"
  href="{% static 'node_modules/flatpickr/dist/flatpickr.min.css' %}"
/>


<h4 class="room-search__title">Available rooms</h4>
      <form
  class="room-search__form"
  method="get"
  action="{% url 'search_hotels' %}"
>

  <div class="room-search__item room-search__item_calendar">
    <img
      src="{% static 'images/partials/icons/_room_search_from/calendar_gray.svg' %}"
      alt="Calendar icon"
      class="room-search__item-icon"
    />
    <input
      type="text"
      id="checkin"
      name="checkin"
      placeholder="Check-in date"
      required
    />
  </div>
  <div class="room-search__item room-search__item_calendar">
    <img
      src="{% static 'images/partials/icons/_room_search_from/calendar_gray.svg' %}"
      alt="Calendar icon"
      class="room-search__item-icon"
    />
    <input
      type="text"
      id="checkout"
      name="checkout"
      placeholder="Check-out date"
      required
    />
  </div>
  <div class="room-search__item room-search__item_guests" onload="setGuests()">
    <img
      src="{% static 'images/partials/icons/_room_search_from/guests_gray.svg' %}"
      alt="Guests icon"
      class="room-search__item-icon"
    />
    <input
      type="text"
      id="guests"
      name="guests"
      placeholder="Guests & Rooms"
      readonly
    />
    <div
      class="guests-drop-down__menu"
      id="guests-drop-down-menu"
    >
      <div class="guests-drop-down-menu__container">
        <span class="guests-drop-down-menu__label">Adults</span>
        <div class="guests-drop-down-menu__buttons-container">
          <button
            type="button"
            class="guests-drop-down-menu__button guests-drop-down-menu__button_minus"
            onclick="changeCount('adults', 'minus')"
            disabled
          >
            -
          </button>
          <span
            id="adults-count"
            class="guests-drop-down-menu__counter"
            onchange="updateGuestsInput()"
            >1</span
          >
          <button
            type="button"
            class="guests-drop-down-menu__button guests-drop-down-menu__button_plus"
            onclick="changeCount('adults', 'plus')"
          >
            +
          </button>
        </div>
      </div>
      <div class="guests-drop-down-menu__container">
        <span class="guests-drop-down-menu__label">Children</span>
        <div class="guests-drop-down-menu__buttons-container">
          <button
            type="button"
            class="guests-drop-down-menu__button guests-drop-down-menu__button_minus"
            onclick="changeCount('children', 'minus')"
            disabled
          >
            -
          </button>
          <span
            id="children-count"
            class="guests-drop-down-menu__counter"
            onchange="updateGuestsInput()"
            >0</span
          >
          <button
            type="button"
            class="guests-drop-down-menu__button guests-drop-down-menu__button_plus"
            onclick="changeCount('children', 'plus')"
          >
            +
          </button>
        </div>
      </div>
      <div class="guests-drop-down-menu__container">
        <span class="guests-drop-down-menu__label">Rooms</span>
        <div class="guests-drop-down-menu__buttons-container">
          <button
            type="button"
            class="guests-drop-down-menu__button guests-drop-down-menu__button_minus"
            onclick="changeCount('rooms', 'minus')"
            disabled
          >
            -
          </button>
          <span
            id="rooms-count"
            class="guests-drop-down-menu__counter"
            onchange="updateGuestsInput()"
            >1</span
          >
          <button
            type="button"
            class="guests-drop-down-menu__button guests-drop-down-menu__button_plus"
            onclick="changeCount('rooms', 'plus')"
          >
            +
          </button>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="room-search-form__submit-button">
    Check Availability
  </button>
</form>

<!-- Script to showing calendar to choose check in and check out dates -->
<script src="{% static 'node_modules/flatpickr/dist/flatpickr.js' %}"></script>
<script src="{% static 'js/partials/_room_search_form/calendar.js' %}"></script>

<!-- Script to show or hide drop down menu for choosing amount of guests -->
<script src="{% static 'js/partials/_room_search_form/guests_dropdown.js' %}"></script>

<!-- Script to choose guests amount -->
<script src="{% static 'js/partials/_room_search_form/guests_dropdown_choice.js' %}"></script>
