{% load static %}
<link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/_footer.css' %}"
    />
<footer>
    <div class="container">
      <div class="footer-top">
        <img
          src="{% static 'images/logos/footer_logo.jpg' %}"
          alt=""
          class="footer-photo"
        />
        <ul class="company">
          <li><h4 class="company-title">Company</h4></li>
          <li><a href="/about" class="company-title-link">About</a></li>
          <li><a href="/jobs" class="company-title-link">Jobs</a></li>
          <li><a href="/news" class="company-title-link">Newsroom</a></li>
          <li><a href="/ads" class="company-title-link">Advertising</a></li>
          <li><a href="/contact-us" class="company-title-link">Contact us</a></li>
        </ul>
        <ul class="explore">
          <li><h4 class="explore-title">Explore</h4></li>
          <li><a href="/australia" class="explore-title-link">Australia</a></li>
          <li><a href="/new-zealand" class="explore-title-link">New Zealand</a></li>
          <li><a href="/united-states" class="explore-title-link">United States of America (USA)</a></li>
          <li><a href="/greece" class="explore-title-link">Greece</a></li>
          <li><a href="/maldives" class="explore-title-link">Maldives</a></li>
          <li><a href="/singapore" class="explore-title-link">Singapore</a></li>
          <li><a href="/see-more" class="explore-title-link-see-more">See more</a></li>
        </ul>
        <ul class="terms">
          <li><h4 class="terms-title">Terms and Policies</h4></li>
          <li><a href="/privacy-policy" class="terms-title-link">Privacy Policy</a></li>
          <li><a href="/terms-of-use" class="terms-title-link">Terms of use</a></li>
          <li><a href="/acessibility" class="terms-title-link">Acessibility</a></li>
          <li><a href="/reward-system-policy" class="terms-title-link">Reward system policy</a></li>
        </ul>
        <ul class="help">
          <li><h4 class="help-title">Help</h4></li>
          <li><a href="/support" class="help-title-link">Support</a></li>
          <li><a href="/cancel" class="help-title-link">Cancel your bookings</a></li>
          <li><a href="/coupon" class="help-title-link">Use Coupon</a></li>
          <li><a href="/refund" class="help-title-link">Refund Policies</a></li>
          <li><a href="/documents" class="help-title-link">International Travel Documents</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="copyright">
        <img
          src="{% static 'images/icons/copyright.svg' %}"
          alt=""
          class="copyright-icon"
        /><span class="copyright-text">my Dream Place 2022</span>
      </div>
    </div>
  </footer>