{% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/partials/_search_form.css' %}"
/>

<!-- Connecting styles for autocomplete JS search script -->
<link
  rel="stylesheet"
  href="{% static 'node_modules/@trevoreyre/autocomplete-js/dist/style.css' %}"
/>

<!-- Connecting styles for JS calendar script -->
<link
  rel="stylesheet"
  href="{% static 'node_modules/flatpickr/dist/flatpickr.min.css' %}"
/>

<form
  class="booking-search-form"
  method="get"
  action="{% url 'search_hotels' %}"
>
  <div class="booking-search-form__item booking-search-form__item__geo" id="booking-search-form__item-geo">
    <img
      src="{% static 'images/core/icons/geo.svg' %}"
      alt="Geolocation icon"
      class="booking-search-form__item__icon"
    />
    <input
      type="text"
      class="booking-search-form__geo-input"
      id="destination"
      name="destination"
      placeholder="Where are you going?"
      required
    />
    <ul class="autocomplete-result-list"></ul>
  </div>

  <div class="booking-search-form__item booking-search-form__item__calendar">
    <img
      src="{% static 'images/core/icons/calendar.svg' %}"
      alt="Calendar icon"
      class="booking-search-form__item__icon"
    />
    <input
      type="text"
      id="checkin"
      name="checkin"
      placeholder="Check-in date"
      required
    />
  </div>
  <div class="booking-search-form__item booking-search-form__item__calendar">
    <img
      src="{% static 'images/core/icons/calendar.svg' %}"
      alt="Calendar icon"
      class="booking-search-form__item__icon"
    />
    <input
      type="text"
      id="checkout"
      name="checkout"
      placeholder="Check-out date"
      required
    />
  </div>
  <div class="booking-search-form__item booking-search-form__item__guests" onload="setGuests()">
    <img
      src="{% static 'images/core/icons/guests.svg' %}"
      alt="Guests icon"
      class="booking-search-form__item__icon"
    />
    <input
      type="text"
      id="guests"
      name="guests"
      placeholder="Guests & Rooms"
      readonly
    />
    <div
      class="booking-search-form__drop-down-menu"
      id="guests-input-container-dropdown-menu"
    >
      <div class="booking-search-form__drop-down-menu-item">
        <span class="booking-search-form__drop-down-menu-label">Adults</span>
        <div class="booking-search-form__drop-down-menu-choice_container">
          <button
            type="button"
            class="booking-search-form__drop-down-menu-button-minus"
            onclick="changeCount('adults', 'minus')"
            disabled
          >
            -
          </button>
          <span
            id="adults-count"
            class="booking-search-form__drop-down-menu-count"
            onchange="updateGuestsInput()"
            >1</span
          >
          <button
            type="button"
            class="booking-search-form__drop-down-menu-button-plus"
            onclick="changeCount('adults', 'plus')"
          >
            +
          </button>
        </div>
      </div>
      <div class="booking-search-form__drop-down-menu-item">
        <span class="booking-search-form__drop-down-menu-label">Children</span>
        <div class="booking-search-form__drop-down-menu-choice_container">
          <button
            type="button"
            class="booking-search-form__drop-down-menu-button-minus"
            onclick="changeCount('children', 'minus')"
            disabled
          >
            -
          </button>
          <span
            id="children-count"
            class="booking-search-form__drop-down-menu-count"
            onchange="updateGuestsInput()"
            >0</span
          >
          <button
            type="button"
            class="booking-search-form__drop-down-menu-button-plus"
            onclick="changeCount('children', 'plus')"
          >
            +
          </button>
        </div>
      </div>
      <div class="booking-search-form__drop-down-menu-item">
        <span class="booking-search-form__drop-down-menu-label">Rooms</span>
        <div class="booking-search-form__drop-down-menu-choice_container">
          <button
            type="button"
            class="booking-search-form__drop-down-menu-button-minus"
            onclick="changeCount('rooms', 'minus')"
            disabled
          >
            -
          </button>
          <span
            id="rooms-count"
            class="booking-search-form__drop-down-menu-count"
            onchange="updateGuestsInput()"
            >1</span
          >
          <button
            type="button"
            class="booking-search-form__drop-down-menu-button-plus"
            onclick="changeCount('rooms', 'plus')"
          >
            +
          </button>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="booking-search-form__submit-button">
    Search
  </button>
</form>

<!-- Autocomplete script to search destinations -->
<script src="{% static 'node_modules/@trevoreyre/autocomplete-js/dist/autocomplete.min.js' %}"></script>
<script>
  new Autocomplete("#booking-search-form__item-geo", {
    // The search function takes user input and returns a Promise that resolves with an array of results
    search: (input) => {
      const url = "/search/?address=" + input.trim();
      // Using fetch to send an HTTP request to the specified URL and return a Promise that resolves with the response
      return new Promise((resolve) => {
        fetch(url)
          .then((response) => response.json())
          .then((data) => {
            resolve(data.data); // Resolving the Promise with the array of results from the response data
          });
      });
    },
  });
</script>

<!-- Script to showing calendar to choose check in and check out dates -->
<script src="{% static 'node_modules/flatpickr/dist/flatpickr.js' %}"></script>
<script>
  // Selecting the HTML elements for the check-in and check-out date inputs
  const checkIn = document.getElementById("checkin");
  const checkOut = document.getElementById("checkout");

  // Setting the maximum date for the check-out input to one year from today
  const maxDate = new Date();
  maxDate.setFullYear(maxDate.getFullYear() + 1);

  // Initializing Flatpickr for the check-out input with options for date formatting, minimum and maximum dates, and event handling
  flatpickr(checkOut, {
    altInput: checkOut, // Using an alternate input field for better accessibility
    minDate: "today", // Setting the minimum date to today
    maxDate: maxDate, // Setting the maximum date to one year from today
    dateFormat: "d-m-Y", // Specifying the date format as day-month-year
    onClose: function (selectedDates, dateStr, instance) {
      // Handling the event when the user selects a check-out date
      if (checkIn.value != "" && selectedDates[0] >= new Date(checkIn.value)) {
        // If a check-in date has already been selected and the selected check-out date is later than the check-in date,
        // clear the check-out input and set the minimum date for the check-in input to the selected check-out date
        instance.clear();
        checkIn._flatpickr.set("minDate", dateStr);
      } else {
        // If no check-in date has been selected or the selected check-out date is earlier than the check-in date,
        // set the minimum date for the check-in input to today and the maximum date for the check-out input to the maximum date allowed
        checkIn._flatpickr.set("minDate", "today");
        checkIn._flatpickr.set("maxDate", dateStr);
      }
    },
  });

  // Initializing Flatpickr for the check-in input with options for date formatting, minimum date, and event handling
  flatpickr(checkIn, {
    altInput: checkIn, // Using an alternate input field for better accessibility
    minDate: "today", // Setting the minimum date to today
    dateFormat: "d-m-Y", // Specifying the date format as day-month-year
    onClose: function (selectedDates, dateStr, instance) {
      // Handling the event when the user selects a check-in date
      if (
        checkOut.value != "" &&
        selectedDates[0] >= new Date(checkOut.value)
      ) {
        // If a check-out date has already been selected and the selected check-in date is later than the check-out date,
        // clear the check-in input and set the minimum date for the check-out input to the selected check-in date
        instance.clear();
        checkOut._flatpickr.set("minDate", dateStr);
      } else {
        // If no check-out date has been selected or the selected check-in date is earlier than the check-out date,
        // set the minimum date for the check-out input to the selected check-in date and the maximum date for the check-out input to the maximum date allowed
        checkOut._flatpickr.set("minDate", dateStr);
        checkOut._flatpickr.set("maxDate", maxDate);
      }
    },
  });
</script>

<!-- Script to show or hide drop down menu for choosing amount of guests -->
<script>
  const guest = document.getElementById("guests"); // Get the element with the id "guests"
  const guestdropdownMenu = document.getElementById(
    "guests-input-container-dropdown-menu"
  ); // Get the element with the id "guests-input-container-dropdown-menu"

  guest.addEventListener("click", function () {
    // Add a click event listener to the "guest" element
    guestdropdownMenu.classList.toggle("show"); // Toggle the "show" class on the "guestdropdownMenu" element
  });

  document.addEventListener("click", function (event) {
    // Add a click event listener to the document
    const isClickInside =
      guest.contains(event.target) || guestdropdownMenu.contains(event.target); // Check if the click event happened inside the "guest" element or the "guestdropdownMenu" element
    if (!isClickInside) {
      guestdropdownMenu.classList.remove("show"); // If the click event didn't happen inside either element, remove the "show" class from the "guestdropdownMenu" element
    }
  });
</script>

<!-- Script to choose guests amount -->
<script>
  function changeCount(type, operation) {
    // Get the HTML element of the count
    var countEl = document.getElementById(type + "-count");
    // Parse the current count as an integer
    var count = parseInt(countEl.innerHTML);
    // Get the minus and plus buttons for the current type
    var minusButton = document.querySelector(
      `button.booking-search-form__drop-down-menu-button-minus[onclick="changeCount('${type}', 'minus')"]`
    );
    var plusButton = document.querySelector(
      `button.booking-search-form__drop-down-menu-button-plus[onclick="changeCount('${type}', 'plus')"]`
    );

    // Decrease the count if operation is minus and count is greater than zero
    if (operation === "minus") {
      if (count > 0) {
        count--;
      }
    }
    // Increase the count if operation is plus and count is less than 30
    else if (operation === "plus") {
      if (count < 30) {
        count++;
      }
    }

    // Update the count in the HTML element
    countEl.innerHTML = count;
    // Call the setGuests() function to update the guest count in the input field
    setGuests();

    // Disable the minus button if the count is at its minimum value
    if (type === "adults" && count === 1) {
      minusButton.disabled = true;
    } else if (type === "children" && count === 0) {
      minusButton.disabled = true;
    } else if (type === "rooms" && count === 1) {
      minusButton.disabled = true;
    } else {
      minusButton.disabled = false;
    }

    // Disable the plus button if the count is at its maximum value
    if (count === 30) {
      plusButton.disabled = true;
    } else {
      plusButton.disabled = false;
    }
  }

  // Function to set the guest count in the input field
  function setGuests() {
    // Get the count of adults, children, and rooms
    var adults = document.getElementById("adults-count").textContent;
    var children = document.getElementById("children-count").textContent;
    var rooms = document.getElementById("rooms-count").textContent;
    // Calculate the total number of guests
    var totalGuests = parseInt(adults) + parseInt(children);
    // Set the label for guests depending on whether there is one guest or multiple guests
    var guestsLabel = totalGuests === 1 ? " guest" : " guests";
    // Set the label for rooms depending on whether there is one room or multiple rooms
    var roomsLabel = rooms === "1" ? " room" : " rooms";
    // Set the value of the input field with the guest count and room count labels
    document.getElementById("guests").value =
      totalGuests + guestsLabel + " · " + rooms + roomsLabel;
  }
</script>
