{% extends 'base.html' %} 
{% load static %} 
{% load socialaccount%} 
{% load widget_tweaks %}
{% block title %} 
{% if request.path == '/register/' %}
 | Registration 
{% elif request.path == '/signin/' %}
  | Sign In 
{% endif %} 
{% endblock %} 
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/authpage.css' %}" />

<section class="authentification-form">
  <div class="authentification-form-box" id="registration-form">
    {% if request.path == '/register/' %}
    <h3 class="authentification-title">Register</h3>
    {% elif request.path == '/signin/' %}
    <h3 class="authentification-title">Sign In</h3>
    {% endif %}
    <form class="email-form" method="POST">
    <label class="top-form-text">Email address</label>
    {{ form.email | attr:"class:form-input" }} 
    <div class="error-message" id="email-error-message">{{ form.email.errors.0 }}</div>
    {% if request.path == '/register/' %}
     <button type="button" class="email-submit"  id="continue-with-email-btn">Continue with Email
    </button> 
    <!-- <a class="email-submit">Continue with Email</a>
     -->

    {% elif request.path == '/signin/' %}
    <label class="bottom-form-text">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      class="form-input"
      required
    />
    <div class="checkbox-signin-restore">
      <input type="checkbox" id="keep-signed-in" name="keep-signed-in" />
      <label class="signin-checkbox-text" for="keep-signed-in"
        >Keep me signed in</label
      >
      <a href="" class="forgot-password-link" onclick="return false;">Forgot password?</a>
    </div>
    <button type="submit" class="email-submit">Continue with Email
    </button>
    
    {% endif %}
    
      
    <div class="email-options-wrapper">
      <div class="horizontal-line"></div>
      <span class="email-options-text">or use one of these options</span>
      <div class="horizontal-line"></div>
    </div>
    <a href="{% provider_login_url 'google'%}">
      <button type="button" class="login-with-google-btn">
        Continue with Google
      </button>
    </a>
    <a href="{% provider_login_url 'github'%}">
      <button type="button" class="login-with-github-btn">
        Continue with GitHub
      </button>
    </a>
  </form>
    <span class="have-an-account-text">
      Already have an account? {% if request.path == '/signin/' %}
      <a href="/register" class="sign-in-link">Register</a>
      {% elif request.path == '/register/' %}
      <a href="/signin" class="sign-in-link">Sign in</a>
      {% endif %}
    </span>
    
  </div>

 <div class="authentification-form-box" id="password-creation-form">
    <h3 class="authentification-title">Create Password</h3>
    <p class="password-creation-guide">Use a minimum of 10 characters, including letters, lowercase letters, and numbers.</p>
    <form class="password-form" method="POST">
      {% csrf_token %}
      <label class="top-form-text">Password</label>
      <input type="password" name="password" class="form-input" id="id_password1" required />
      <div class="error-message" id="password1-error-message">{{ form.email.errors.0 }}</div> 
      <label class="bottom-form-text">Confirm Password</label>
      <input
        type="password"
        name="confirm_password"
        class="form-input"
        id="id_password2"
        required
      /> 
      <div class="error-message" id="password2-error-message">{{ form.email.errors.0 }}</div>
      <button type="submit" class="email-submit" id="create-user-btn">Create account</button>
      <span class="terms-text">By creating an account, you agree with our <a href="" class="terms-link">Terms and Conditions</a> and <a href="" class="terms-link">Privacy Statement.</a></span>
    </form>
  </div>




  <div class="authentification-form-box" id="forgot-password-form" style="display: none">
    <h3 class="authentification-title">Forgot your password?</h3>
    <p class="password-creation-guide">We’ll send you a link to reset it. Enter your email address used for My Dream Place.</p>
    <form class="password-form" method="post" action="{% url 'registration' %}">
      {% csrf_token %}
      <label class="top-form-text">Your email address</label>
    <input type="email" id="email" name="email" class="form-input" required />
      <button type="submit" class="email-submit" id="reset-link-btn">
        Send Reset Link
      </button>
      <span class="terms-text">By creating an account, you agree with our <a href="" class="terms-link">Terms and Conditions</a> and <a href="" class="terms-link">Privacy Statement</a>.</span>
    </form>
  </div> 

  <div class="authentification-form-box" id="forgot-email-sent" style="display: none">
    <div class="img-background"><img
        src="{% static 'images/icons/restore_password.svg' %}"
        alt="Main page photo"
        class="booking_photo"
      /></div>
    
    <h3 class="authentification-title">Check your Inbox</h3>
    <p class="check-check-inbox-text">We have just emailed you the instrustions and a reset password link to <b>Sumail_john@gmail.com</b>. It might take a few minutes to arrive</p>
    <button type="submit" class="email-submit" id="reset-link-btn">
      Back to Sign in
      </button>
  </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script>
$.ajaxSetup({
  headers: { "X-CSRFToken": '{{csrf_token}}' }
});

function validate_email() {
    $.ajax({
        url : " ", 
        type : "POST", 
        data : { email : $('.form-input').val() }, 

        success : function(response) {
            if (response.success) {
              var email = $('.form-input').val();
                $('.authentification-form-box').hide();
                $('#password-creation-form').show();

            } else {
                var errors = response.errors;
                console.log(errors)
                $("#email-error-message").empty();
                for (var field in errors) {
                    if (errors.hasOwnProperty(field)) {
                      var errorMessages = errors[field];
                if (errorMessages.length > 0) {
                            $("#email-error-message").prepend( errorMessages[0]);
                        }
                    }
                }
            }
        },
    });
};


function create_user() {
    var email = $('.form-input').val();
    var password1 = $('#id_password1').val();
    var password2 = $('#id_password2').val();

    $.ajax({
        url: " ",
        type: "POST",
        data: {
            email: email,
            password1: password1,
            password2: password2
        },
        success: function(response) {
            if (response.success) {
                // Do something on success
            } else {
                var errors = response.errors;
                console.log(errors)
                $("#password1-error-message").empty();
                $("#password2-error-message").empty();
                for (var field in errors) {
                    if (errors.hasOwnProperty(field)) {
                      var errorMessages = errors[field];
                if (errorMessages.length > 0) {
                            $("#password1-error-message").prepend( errorMessages[0]);
                            $("#password2-error-message").prepend( errorMessages[0]);
                          }
                    }
                }
            }
        },
    });
};


$('#continue-with-email-btn').on('click', function(event) {
    event.preventDefault();
    validate_email();
});

$('#create-user-btn').on('click', function(event) {
    event.preventDefault();
    create_user();
});

</script>

  
{% endblock %}
