{% extends 'base.html' %} 
{% load static %} 
{% load socialaccount%} 
{% block title %} 
{% if request.path == '/register/' %}
 | Registration 
{% elif request.path == '/signin/' %}
  | Sign In 
{% endif %} 
{% endblock %} 
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/authpage.css' %}" />

<section class="authentification-form">
  <form class="authentification-form-box" id="registration-form">
    {% if request.path == '/register/' %}
    <h3 class="authentification-title">Register</h3>
    {% elif request.path == '/signin/' %}
    <h3 class="authentification-title">Sign In</h3>
    {% endif %}
    <label class="top-form-text">Email address</label>
    <input type="email" id="email" name="email" class="form-input" required />
    {% if request.path == '/register/' %}
    <button type="submit" class="email-submit" onclick="showForm2()">Continue with Email
    </button>
    {% elif request.path == '/signin/' %}
    <label class="bottom-form-text">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      class="form-input"
      required
    />
    <div class="checkbox-signin-restore">
      <input type="checkbox" id="keep-signed-in" name="keep-signed-in" />
      <label class="signin-checkbox-text" for="keep-signed-in"
        >Keep me signed in</label
      >
      <a href="" class="forgot-password-link" onclick="return false;">Forgot password?</a>
    </div>
    <button type="submit" class="email-submit">Continue with Email
    </button>
    
    {% endif %}
    
      
    <div class="email-options-wrapper">
      <div class="horizontal-line"></div>
      <span class="email-options-text">or use one of these options</span>
      <div class="horizontal-line"></div>
    </div>
    <a href="{% provider_login_url 'google'%}">
      <button type="button" class="login-with-google-btn">
        Continue with Google
      </button>
    </a>
    <a href="{% provider_login_url 'github'%}">
      <button type="button" class="login-with-github-btn">
        Continue with GitHub
      </button>
    </a>
    <span class="have-an-account-text">
      Already have an account? {% if request.path == '/signin/' %}
      <a href="/register" class="sign-in-link">Register</a>
      {% elif request.path == '/register/' %}
      <a href="/signin" class="sign-in-link">Sign in</a>
      {% endif %}
    </span>
  </form>

  <div class="authentification-form-box" id="password-creation-form" style="display: none">
    <h3 class="authentification-title">Create Password</h3>
    <p class="password-creation-guide">Use a minimum of 10 characters, including letters, <br> lowercase letters, and numbers.</p>
    <form class="password-form" method="post" action="{% url 'registration' %}">
      {% csrf_token %}
      <label class="top-form-text">Password</label>
      <input type="password" name="password" class="form-input" required />
      <label class="bottom-form-text">Confirm Password</label>
      <input
        type="password"
        name="confirm_password"
        class="form-input"
        required
      />
      <button type="submit" class="email-submit">Create account</button>
      <span class="terms-text">By creating an account, you agree with our <a href="" class="terms-link">Terms and Conditions</a> <br> and <a href="" class="terms-link">Privacy Statement.</a></span>
    </form>
  </div>

  <div class="authentification-form-box" id="forgot-password-form" style="display: none">
    <h3 class="authentification-title">Forgot your password?</h3>
    <p class="password-creation-guide">We’ll send you a link to reset it. Enter your email address used for My Dream Place.</p>
    <form class="password-form" method="post" action="{% url 'registration' %}">
      {% csrf_token %}
      <label class="top-form-text">Your email address</label>
    <input type="email" id="email" name="email" class="form-input" required />
      <button type="submit" class="email-submit" id="reset-link-btn">
        Send Reset Link
      </button>
      <span class="terms-text">By creating an account, you agree with our <a href="" class="terms-link">Terms and Conditions</a> <br> and <a href="" class="terms-link">Privacy Statement.</a></span>
    </form>
  </div>

  <div class="authentification-form-box" id="forgot-email-sent" style="display: none">
    <div class="img-background"><img
        src="{% static 'images/icons/restore_password.svg' %}"
        alt="Main page photo"
        class="booking_photo"
      /></div>
    
    <h3 class="authentification-title">Check your Inbox</h3>
    <p class="check-check-inbox-text">We have just emailed you the instrustions and a reset <br> password link to <b>Sumail_john@gmail.com</b>. It might take a<br> few minutes to arrive</p>
    <button type="submit" class="email-submit" id="reset-link-btn">
      Back to Sign in
      </button>
  </div>
</section>

<script>
    const form1 = document.getElementById("registration-form");
const form2 = document.getElementById("password-creation-form");
const form3 = document.getElementById("forgot-password-form");
const form4 = document.getElementById("forgot-email-sent");

function showForm2() {
  form1.style.display = "none";
  form2.style.display = "flex";
  form3.style.display = "none";
  form4.style.display = "none";
  window.history.pushState({ form: "form2" }, "", "");
}

function showForm1() {
  form1.style.display = "flex";
  form2.style.display = "none";
  form3.style.display = "none";
  form4.style.display = "none";
  window.history.pushState({ form: "form1" }, "", "");
}

function showForm3() {
  form1.style.display = "none";
  form2.style.display = "none";
  form3.style.display = "flex";
  form4.style.display = "none";
  window.history.pushState({ form: "form3" }, "", "");
}

function showForm4() {
  form1.style.display = "none";
  form2.style.display = "none";
  form3.style.display = "none";
  form4.style.display = "flex";
  window.history.pushState({ form: "form4" }, "", "");
}

window.onpopstate = function (event) {
  if (event.state && event.state.form === "form2") {
    showForm2();
  } else if (event.state && event.state.form === "form3") {
    showForm3();
  } else if (event.state && event.state.form === "form4") {
    showForm4();
  } else {
    showForm1();
  }
};

function registerUser() {
  let email = document.getElementById("email").value;
  let password = document.getElementById("password").value;
  let confirmPassword = document.getElementById("confirm-password").value;

  if (password !== confirmPassword) {
    alert("Passwords do not match");
    return;
  }

  fetch("/register/", {
    method: "POST",
    body: JSON.stringify({
      email: email,
      password: password,
    }),
    headers: {
      "Content-Type": "application/json",
    },
  })
    .then((response) => {
      if (response.ok) {
        return response.json();
      } else {
        throw new Error("Something went wrong");
      }
    })
    .then((data) => {
      // do something with data
    })
    .catch((error) => {
      console.error("Error:", error);
    });
}

const forgotPasswordLink = document.querySelector(".forgot-password-link");
forgotPasswordLink.addEventListener("click", showForm3);

const resetLinkBtn = document.querySelector("#reset-link-btn");
resetLinkBtn.addEventListener("click", showForm4);
  </script>

  
  
  
{% endblock %}
