input {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #4f4f4f;
  border: none;
  outline-color: #2f80ed;
  background: #f2f2f2;
  padding: 12px 0 10px 40px;
  border-radius: 4px;
}

input[type="date"]::before {
  content: attr(placeholder);
  width: 100%;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  display: none;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 60px;
}

.title{
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  color: #181818;
}

.list {
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0px;
  margin-top: 0px;
}

.item {
  display: flex;
  flex-direction: column;
}

.item:not(:last-child) {
  margin-right: 20px;
}

.link {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #181818;
}

.photo {
  margin-top: 30px;
  width: 295px;
  height: 220px;
  border-radius: 8px;
}

.text-container {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #181818;
}

.text-amount {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #181818;
}

.cover-photo {
  padding-top: 12px;
  position: relative;
}

.cover-photo__container {
  position: relative;
  text-align: center;
  margin-bottom: 82px;
}

.cover-photo__photo {
  max-width: 1240px;
  max-height: 500px;
  border-radius: 10px;
  filter: brightness(70%);
}

.cover-photo__title {
  position: absolute;
  bottom: 200px;
  left: 315px;
  right: 315px;
  color: #ffffff;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
}

.cover-photo__text {
  position: absolute;
  bottom: 130px;
  left: 295px;
  right: 295px;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hotel-search-form {
  bottom: 0;
  transform: translate(50%, 50%);
}

.counties__title {
  margin-top: 50px;
  margin-block-end: 16px;
}

.counties__text {
  display: block;
  max-width: 610px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #333333;
}

.blog__title {
  margin-top: 60px;
  margin-block-end: 24px;
}

.blog__item {
  position: relative;
  width: 400px;
  height: 280px;
}

.blog__item:not(:last-child) {
  margin-right: 20px;
}

.blog__item-photo {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.blog__content {
  color: #fff;
  position: absolute;
  left: 20px;
  right: 20px;
  text-align: left;
  bottom: 20px;
  margin-block-start: 0px;
  text-shadow: 0 1px 0 black;
}

.blog__content-title {
  text-shadow: 0 1px 0 black;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-block-end: 10px;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px;
}

.blog__content-text {
  text-shadow: 0 1px 0 black;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px; 
}

.popular-hotels__title {
  margin-top: 60px;
  margin-block-end: 0px;
}

.download-app-promo__photo {
  max-height: 280px;
  margin: 60px 0px 80px 0px;
}

.motto__photo {
  max-width: 820px;
  max-height: 70px;
  margin: 0px 310px 80px 310px;
}
