*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: local("SF Pro Display"),
    url("../../fonts/SFProDisplay-Regular.woff2") format("woff2"),
    url("../../fonts/SFProDisplay-Regular.woff") format("woff");
}
@font-face {
  font-family: "SF Pro Display";
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  src: local("SF Pro Display"),
    url("../../fonts/SFProDisplay-Medium.woff2") format("woff2"),
    url("../../fonts/SFProDisplay-Medium.woff") format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 600;
  font-style: normal;
  font-display: auto;
  src: local("SF Pro Display"),
    url("../../fonts/SFProDisplay-Semibold.woff2") format("woff2"),
    url("../../fonts/SFProDisplay-Semibold.woff") format("woff");
}
@font-face {
  font-family: "SF Pro Display";
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src: local("SF Pro Display"),
    url("../../fonts/SFProDisplay-Bold.woff2") format("woff2"),
    url("../../fonts/SFProDisplay-Bold.woff") format("woff");
}

body {
  font-family: "SF Pro Display", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #4f4f4f;
  border: none;
  outline-color: #2f80ed;
  background: #f2f2f2;
  padding: 12px 0 10px 40px;
  border-radius: 4px;
}

input[type="date"]::before {
  content: attr(placeholder);
  width: 100%;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  display: none;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 60px;
}

h1, h2, h3, h4, h5, h6, p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

main {
  margin-bottom: 70px;
}

.header__background {
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, #2969bf 0%, #215fb3 100%);
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: 1260px;
  padding: 0 10px;
}

.header {
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg, #2969bf 0%, #144e9d 100%);
}

.header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  flex-direction: row-reverse;
}

.header__image {
  width: 24px;
  height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.header__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.header-menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.header-menu__item {
  padding-right: 48px;
}

.header-menu__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.header-user-profile-container {
  display: flex;
  align-items: center;
}

.header-user-profile-container__notifications-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.header-user-profile-container__user-avatar {
  margin-left: 22px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
}

.header-user-profile-container__user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.header-user-profile-container__dropdown-menu {
  display: none;
  position: absolute;
  z-index: 300;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  width: 200px;
  transform: translateX(-155px);
  height: 183px;
  background: #ffffff;
  box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.header-user-profile-container__dropdown-menu.show {
  display: flex;
}

.header-user-profile-container__dropdown-menu-item-container:not(:last-child) {
  padding: 10px 10px 10px 14px;
  height: 40px;
  width: 100%;
  box-shadow: 0px 0.5px 0px #d6d6d6;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.header-user-profile-container__dropdown-menu-item-container:last-child {
  padding: 10px 10px 10px 14px;
  height: 40px;
  width: 100%;
}

.header-user-profile-container__dropdown-menu-item-container:hover {
  text-decoration: underline;
}

.header-user-profile-container__dropdown-menu-item-container a {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #4f4f4f;
  display: flex;
  flex-direction: row;
}

.header-user-profile-container__dropdown-menu-item-container img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.header-button-container__register-button {
  height: 40px;
  padding: 10px 18px;
  background: #ffffff;
  border: 1px solid #2f80ed;
  border-radius: 6px;
  color: #2f80ed;
  cursor: pointer;
}

.header-button-container__signin-button {
  height: 40px;
  padding: 10px 18px;
  color: #ffff;
  background: #2f80ed;
  border: 1px solid #2f80ed;
  border-radius: 6px;
  margin-left: 10px;
  cursor: pointer;
}

.header-button-container__register-button:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.header-button-container__signin-button:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.hotel-search-form {
  transform: translate(50%, 260%);
}

.page-content {
  margin-top: 104px;
  margin-bottom: 60px;
  display: flex;
}
.page-content__left-side {
  flex: 0 0 24%;
  margin-right: 10px;
}
.page-content__right-side {
  flex: 0 0 76%;
  margin-left: 10px;
}

.page-content__filters-container {
  width: 295px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.filter-search__container {
  height: 119px;
  width: 100%;
  background: #f2f2f2;
  border-radius: 6px;
  position: relative;
}

.filter_title{
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #181818;
}

.filter-search__title {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-left: 18px;
  margin-top: 20px;
}

.filter-search__input {
  padding: 11px 12px 12px;
  margin: 16px 18px 20px 18px;
  width: 259px;
  height: 44px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding-left: 42px;
}

.filter-search__icon {
  position: absolute;
  left: 29px;
  top: 50%;
  transform: translateY(42%);
  width: 20px;
  height: 20px;
}

.filter-by__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #333333;
  margin: 20px 0px 20px 18px;
}

.filter__container {
  margin-top: 20px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
}

.filter__title {
  box-sizing: border-box;
  padding: 18px;
  gap: 10px;
  height: 55px;
  background: #f2f2f2;
  border: 1px solid #e0e0e0;
  border-radius: 6px 6px 0px 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #181818;
}

.filter__list {
  margin-top: 20px;
  margin-bottom: 14px;
  padding-inline-start: 0px;
}

.filter__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #333333;
}

.filter__item input[type="checkbox"] {
  margin-right: 8px;
  margin-left: 18px;
  width: 20px;
  height: 20px;
}

.filter__item span {
  margin-left: auto;
  padding-right: 20px;
}

.filter__text {
  margin-top: 20px;
  padding: 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #4f4f4f;
}

.stars__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px 0px 24px 18px;
  margin-left: 18px;
  margin-top: 8px;
}

.stars__star-button {
  width: 50px;
  height: 46px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
}

.stars__star-button.selected {
  background: #f2f2f2;
}

.stars__star-icon {
  width: 18px;
  height: 18px;
}

.stars__star-button_left {
  border-radius: 5px 0px 0px 5px;
}

.stars__star-button_right {
  border-radius: 0px 5px 5px 0px;
}

.search-results__title {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #181818;
}

.allocation-type-filter__container {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.allocation-type-filter__button {
  padding: 10px 18px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #2f80ed;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #4f4f4f;
}

.allocation-type-filter__button_left {
  border: 1px solid #2f80ed;
  border-radius: 6px 0px 0px 6px;
}

.allocation-type-filter__button-right {
  border: 1px solid #2f80ed;
  border-radius: 0px 6px 6px 0px;
}

.allocation-type-filter__button.selected {
  background: rgba(47, 128, 237, 0.05);
}

.sort-by__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 48px;
  width: 190px;
  padding: 8px 12px;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  border-radius: 6px;
  margin-left: 110px;
  position: relative;
}

.sort-by__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: #828282;
}

.sort-by__icon {
  height: 16px;
  width: 16px;
  position: absolute;
  right: 12px;
  top: 16px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.sort-by__icon.rotated {
  transform: rotate(180deg);
}

.sort-by__default-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #333333;
}

.sort-by__list {
  display: none;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #333333;
  padding-inline-start: 0px;
  position: absolute;
  top: 43px;
  padding: 10px 0px;
  width: 190px;
  transform: translateX(-13px);
  background: #ffffff;
  border: 1px solid #bdbdbd;
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-block-start: 0px;
}

.sort-by__item {
  cursor: pointer;
  width: 100%;
}

.sort-by__item-text {
  margin-left: 12px;
}

.sort-by__item:hover {
  background: #f2f2f2;
}

.search-results__list {
  margin-top: 24px;
  padding-inline-start: 0px;
}

.search-results__item {
  max-width: 915px;
  max-height: 240px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-results__item-image {
  width: 285px;
  height: 200px;
  margin: 20px;
  border-radius: 5px;
}

.hotel-info__container {
  width: 562px;
  height: 192px;
  margin: 24px;
  display: flex;
  flex-direction: column;
}

.hotel-info__title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.hotel-info__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.hotel-info__link {
  color: #1a1a1a;
}

.hotel-info__promo_active {
  width: 190px;
  height: 26px;
  background: #eb5757;
  border-radius: 6px;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hotel-info__promo_not-active {
  width: 190px;
  height: 26px;
  
}

.hotel-info__rating-container {
  margin-top: 7px;
  max-height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hotel-info__rating-stars-container {
  display: flex;
  flex-direction: row;
  height: 20px;
  width: 90px;
}

.hotel-info__rating-stars-star-icon {
  height: 20px;
  width: 20px;
}

.hotel-info__rating-stars-star-icon_half {
  height: 20px;
  width: 10px;
}

.hotel-info__rating-stars-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #4f4f4f;
  margin-left: 12px;
}

.hotel-info__description-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hotel-info__description-container-left {
  width: 380px;
}

.hotel-info__description-container-left-title {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-top: 18px;
  height: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #4f4f4f;
}

.hotel-info__description-container-left-text {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-top: 4px;
  height: 36px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #4f4f4f;
}

.hotel-info__description-container-left-button {
  margin-top: 18px;
  padding: 10px 18px;
  width: 137px;
  height: 40px;
  background: #2f80ed;
  border: 1px solid #2f80ed;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.hotel-info__description-container-left-button:hover {
  background: #2969bf;
  border: 1px solid #2969bf;
}

.hotel-info__description-container-left-link {
  color: #ffffff;
}

.hotel-info__description-container-right {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hotel-info__description-container-right-discount_active {
  width: 54px;
  height: 26px;
  background: #219653;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hotel-info__description-container-right-discount_not_active {
  width: 54px;
  height: 26px;
}

.hotel-info__description-container-right-duration-text {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-top: 6px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #333333;
}

.hotel-info__description-container-right-price-discount_active {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  text-decoration-line: line-through;
  color: #eb5757;
}

.hotel-info__description-container-right-price-discount_not-active {
  height: 17px;
}

.hotel-info__description-container-right-price-full {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.01em;
  color: #333333;
  margin-left: 8px;
}

.hotel-info__description-container-right-price-taxest {
  margin-top: 6px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 0.02em;
  color: #333333;
}

.more-results__container {
  text-align: center;
}

.more-results__button {
  padding: 10px 18px;
  width: 156px;
  height: 40px;
  background: rgba(47, 128, 237, 0.1);
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #2f80ed;
  border: none;
  cursor: pointer;
}

.more-results__button:hover {
  background: rgba(47, 128, 237, 0.2);
}
