{% extends 'base.html' %}
{% load static %} 
{% block title %}  | Restore password{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/users/password_reset_confirm.css' %}" /> 

<section class="password-reset">
<div class="password-reset__container" id="authentification-form">
<form class="password-reset__form" method="POST">
    <h3 class="password-reset__title"> {{ title }} </h3>
    <p class="password-reset__text">Use a minimum of 10 characters, including letters, lowercase and uppercase letters, and numbers.</p>
      {% csrf_token %}
      <label class="password-reset__top-form-text">Password</label>
      <input type="password" name="password" class="password-reset__form-input" id="password1" required />
      <div class="password-reset__error-message" id="password1-error-message">{{ form.password.errors.0 }}</div> 
      <label class="password-reset__bottom-form-text">Confirm Password</label>
      <input
        type="password"
        name="confirm_password"
        class="password-reset__form-input"
        id="password2"
        required
      /> 
      <div class="password-reset__error-message" id="password2-error-message">{{ form.password.errors.0 }}</div>
      <button type="submit" class="password-reset__submit-button" id="change-password-button">{{ button }}</button>
    </form>
</div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>


<script>
  $.ajaxSetup({
    headers: { "X-CSRFToken": '{{csrf_token}}' }
  });

  
  function change_password() {
      var password1 = $('#password1').val();
      var password2 = $('#password2').val();
  
      $.ajax({
          url: " ",
          type: "POST",
          data: {
              password1: password1,
              password2: password2
          },
          success: function(response) {
              if (response.success) {
                window.location.replace("/");
              } else {
                  var errors = response.errors;
                  $("#password1-error-message").empty();
                  $("#password2-error-message").empty();
                  for (var field in errors) {
                      if (errors.hasOwnProperty(field)) {
                        var errorMessages = errors[field];
                  if (errorMessages.length > 0) {
                              $("#password1-error-message").prepend( errorMessages[0]);
                              $("#password2-error-message").prepend( errorMessages[0]);
                            }
                      }
                  }
              }
          },
      });
  };
  
  
  $('#change-password-button').on('click', function(event) {
      event.preventDefault();
      change_password();
  });
</script>


{% endblock %}