{% extends 'core/base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />

<main class="main">
  <section class="booking">
    <div class="container">
      <div class="booking-text-container">
        <img
          src="{% static 'images/site_photos/booking_page.jpg' %}"
          alt="Main page photo"
          class="booking_photo"
        />
        <h2 class="booking-header">Enjoy Your Dream Vacation</h2>
        <h4 class="booking-text">
          Plan and book our perfect trip with expert advice, travel tips,
          destination information and inspiration from us
        </h4>
      </div>
      <form class="booking-form">
        <div class="booking-form-group booking-form-group--geo">
          <input
            type="text"
            id="destination"
            name="destination"
            placeholder="Where are you going?"
            required
          />
        </div>
        <div class="booking-form-group booking-form-group--calendar">
          <input
            type="date"
            id="checkin"
            name="checkin"
            placeholder="Check-in date"
            required
          />
        </div>
        <div class="booking-form-group booking-form-group--calendar">
          <input
            type="date"
            id="checkout"
            name="checkout"
            placeholder="Check-out date"
            required
            aria-required="true"
          />
        </div>
        <div class="booking-form-group booking-form-group--guests">
          <input
            type="number"
            id="guests"
            name="guests"
            min="1"
            placeholder="Guests"
            required
          />
        </div>
        <button type="submit" class="booking-form-submit">Search</button>
      </form>
    </div>
  </section>
  <section class="covid-restrictions">
    <div class="container">
      <div class="danger">
        <img
          src="{% static 'images/icons/danger.svg' %}"
          alt="danger logo"
          class="danger-logo"
        />
        <span class="danger-text">
          Check the latest COVID-19 restrictions before you travel.
          <a href="#" class="learn-more">Learn more</a></span
        >
      </div>
    </div>
  </section>

  <section class="countries-list">
    <div class="container">
      <h3 class="countries-list-header">Enjoy your dream vacation</h3>
      <span class="countries-list-text"
        >Plan and book our perfect trip with expert advice, travel tips,
        destination information and inspiration from us</span
      >
      <div class="countries-list-destinations">
        <!-- ul или ol -->
        {% for destination in available_destinations %}
        <div class="countries-list-destinations-box">
          <img
            src="{% static 'images/photos/destinations/australia.jpg' %}"
            alt=""
            class="countries-list-photo"
          />
          <div class="countries-list-destinations-info">
            <a href="#" class="countries-list-destinations-info-name"
              >{{ destination.country }}</a
            >
            <a href="" class="countries-list-destinations-info-amount"
              >{{ destination.count }} properties</a
            >
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="blog">
    <div class="container">
      <h3 class="blog-header">Get inspiration for your next trip</h3>
      <div class="blog-content">
        {% for destination in available_destinations2 %}
        <div class="blog-content-box">
          <img
            src="{% static 'images/photos/destinations/australia.jpg' %}"
            alt=""
            class="blog-content-photo"
          />
          <div class="card-content">
            <h5 class="blog-header-content">
              Sydeny’s 10 most fashionable 5 star hotels
            </h5>
            <p class="blog-text-content">
              Browse the fastest growing tourism sector in the heart of
              Australia tourism capital ....
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</main>
{% endblock %}
