{% extends 'core/base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />

<link
  rel="stylesheet"
  href="{% static 'node_modules/@trevoreyre/autocomplete-js/dist/style.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'node_modules/flatpickr/dist/flatpickr.min.css' %}"
/>

<main class="main">
  <section class="booking">
    <div class="container">
      <div class="booking-text-container">
        <img
          src="{% static 'images/site_photos/booking_page.jpg' %}"
          alt="Main page photo"
          class="booking_photo"
        />
        <h2 class="booking-title">Enjoy Your Dream Vacation</h2>
        <h4 class="booking-text">
          Plan and book our perfect trip with expert advice, travel tips,
          destination information and inspiration from us
        </h4>
      </div>
      <form
        class="booking-form"
        method="get"
        action="{% url 'search_hotels' %}"
      >
        <div
          class="booking-form-group booking-form-group--geo"
          id="booking-form-group--geo"
        >
          <input
            type="text"
            class="booking-form-group__input"
            id="destination"
            name="destination"
            placeholder="Where are you going?"
            required
          />
          <ul class="autocomplete-result-list"></ul>
        </div>

        <div class="booking-form-group booking-form-group--calendar">
          <input
            type="text"
            id="checkin"
            name="checkin"
            placeholder="Check-in date"
            required
          />
        </div>
        <div class="booking-form-group booking-form-group--calendar">
          <input
            type="text"
            id="checkout"
            name="checkout"
            placeholder="Check-out date"
            required
          />
        </div>
        <div class="booking-form-group booking-form-group--guests">
          <input
            type="number"
            id="guests"
            name="guests"
            min="1"
            placeholder="Guests"
            required
          />
        </div>
        <button type="submit" class="booking-form-submit">Search</button>
      </form>
    </div>
  </section>
  <section class="restrictions">
    <div class="container">
      <div class="danger">
        <img
          src="{% static 'images/icons/danger.svg' %}"
          alt="danger logo"
          class="danger-logo"
        />
        <span class="danger-text">
          Check the latest COVID-19 restrictions before you travel.
          <a href="/covid-19" class="learn-more">Learn more</a></span
        >
      </div>
    </div>
  </section>

  <section class="countries-list">
    <div class="container">
      <h3 class="countries-list-header">Enjoy your dream vacation</h3>
      <span class="countries-list-text"
        >Plan and book our perfect trip with expert advice, travel tips,
        destination information and inspiration from us</span
      >
      <ul class="countries-list-destinations">
        {% for destination, destination_info in available_destinations.items %}
        <li class="countries-list-destinations-box">
          <a href="{{ destination | lower }}" class="countries-list-link">
            <img src="{{ destination_info.country_photo.url }}"" alt="Country
            photo" class="countries-list-photo" />
            <div class="countries-list-destinations-info">
              <span class="countries-list-destinations-info-name"
                >{{ destination }}</span
              >
              <span class="countries-list-destinations-info-amount">
                {% if destination_info.hotel_count == 1 %} 
                {{destination_info.hotel_count }} 
                property 
                {% else %} 
                {{destination_info.hotel_count }} 
                properties
                {% endif %}
              </span>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <section class="blog">
    <div class="container">
      <h3 class="blog-header">Get inspiration for your next trip</h3>
      <div class="blog-content">
        {% for blog in blog_info %}
        <div class="blog-content-box">
          <a href="{{ blog.get_absolute_url }}" class="countries-list-link">
            <img
              src="{{ blog.blog_photo.url }}"
              alt="Blog photo"
              class="blog-content-photo"
            />
            <div class="card-content">
              <h5 class="blog-header-content">{{ blog.blog_title }}</h5>
              <p class="blog-text-content">
                {{ blog.blog_text |truncatewords:12 }}
              </p>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="popular-hotels">
    <div class="container">
      <h3 class="popular-hotels-title">Popular hotels</h3>
      <div class="popular-hotels-destinations">
        {% for destination in available_destinations %}
        <div class="popular-hotels-destinations-box">
          <img
            src="{% static 'images/photos/destinations/australia.jpg' %}"
            alt=""
            class="popular-hotels-photo"
          />
          <div class="popular-hotels-destinations-info">
            <a href="#" class="popular-hotels-destinations-info-name"
              >{{ destination.country }}</a
            >
            <a href="" class="popular-hotels-destinations-info-amount"
              >{{ destination.count }} properties</a
            >
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="download-app-promo">
    <div class="container">
      <img
        src="{% static 'images/photos/app/promo_app.jpg' %}"
        alt=""
        class="promo-app-photo"
      />
    </div>
  </section>
  <section class="motto">
    <div class="container">
      <img
        src="{% static 'images/photos/motto/motto.jpg' %}"
        alt=""
        class="motto-photo"
      />
    </div>
  </section>

  <script src="{% static 'node_modules/flatpickr/dist/flatpickr.js' %}"></script>
  <script>
    // Get a reference to the trigger element
    const checkInput = document.getElementById("checkin");
    const checkOut = document.getElementById("checkout");

    // Calculate maxDate (today + 1 year)
    const maxDate = new Date();
    maxDate.setFullYear(maxDate.getFullYear() + 1);

    // Инициализация Flatpickr с опцией "altInput"
    flatpickr(checkOut, {
      altInput: checkOut,
      minDate: "today",
      maxDate: maxDate,
      dateFormat: "d-m-Y",
      onChange: function (selectedDates, dateStr, instance) {
        instance.set(
          "maxDate",
          checkOut.value != "" ? checkOut.value : undefined
        );
      },
    });

    flatpickr(checkInput, {
      altInput: checkInput,
      minDate: "today",
      dateFormat: "d-m-Y",
      onChange: function (selectedDates, dateStr, instance) {
        instance.set(
          "minDate",
          checkInput.value != "" ? checkInput.value : undefined
        );
      },
    });
  </script>

  <script src="{% static 'node_modules/@trevoreyre/autocomplete-js/dist/autocomplete.min.js' %}"></script>
  <script>
    new Autocomplete("#booking-form-group--geo", {
      search: (input) => {
        const url = "/search/?address=" + input.trim();
        return new Promise((resolve) => {
          fetch(url)
            .then((response) => response.json())
            .then((data) => {
              console.log(data);
              resolve(data.data);
            });
        });
      },
    });
  </script>
</main>
{% endblock %}
