.menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .menu-item {
    padding-right: 48px;
  }
  
  .menu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #333333;
  }
  
  .register-button {
    height: 40px;
    padding: 10px 18px;
    background: #ffffff;
    border: 1px solid #2f80ed;
    border-radius: 6px;
    color: #2f80ed;
    cursor: pointer;
  }
  
  .signin-button {
    height: 40px;
    padding: 10px 18px;
    color: #ffff;
    background: #2f80ed;
    border: 1px solid #2f80ed;
    border-radius: 6px;
    margin-left: 10px;
    cursor: pointer;
  }