button {
  width: 400px;
  height: 44px;
  left: 520px;
  top: 330px;
  background: #2f80ed;
  border-radius: 6px;
  padding: 12px 18px;
  color: #ffffff;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

.email-submit {
  width: 400px;
  height: 44px;
  left: 520px;
  top: 330px;
  background: #2f80ed;
  border-radius: 6px;
  padding: 12px 18px;
  color: #ffffff;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

p {
  margin-top: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #4f4f4f;
  margin-block-end: 0px;
}

h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  color: #181818;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.authentification-form-box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 92px;
  max-width: 400px;
  align-items: center;
  position: relative;
}

.top-form-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #181818;
  margin-top: 40px;
  align-self: start;
}

.bottom-form-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #181818;
  margin-top: 20px;
  align-self: start;
}

.error-message {
  width: 100%;
  padding: 0 10px;
  font-size: 12px;
  background: #d30909;
  color: #fff;
  height: 24px;
  text-align: left;
  display: flex;
  align-items: center;
}
.error-message ul {
  padding-inline-start: 0px;
}

.error-message:empty {
  opacity: 0;
}

.form-input {
  padding: 11px 12px 12px;
  background: #f2f2f2;
  border-radius: 4px;
  width: 400px;
  height: 44px;
  border: none;
  margin-top: 4px;
  outline-color: #2f80ed;
}

.checkbox-signin-restore {
  display: flex;
  margin-top: 20px;
}

.signin-checkbox-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #4f4f4f;
  margin-left: 8px;
}

.forgot-password-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.02em;
  color: #2f80ed;
  margin-left: 150px;
}

.email-options-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #4f4f4f;
  margin-left: 16px;
  margin-right: 16px;
}

.email-options-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 27px;
  width: 400px;
}

.horizontal-line {
  flex: 1;
  height: 1px;
  background-color: #e0e0e0;
}

.login-with-google-btn {
  margin-top: 30px;
  width: 400px;
  height: 44px;
  left: 520px;
  top: 446px;
  transition: background-color 0.3s, box-shadow 0.3s;

  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);

  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
  cursor: pointer;
}

.login-with-google-btn:active {
  background-color: #eeeeee;
}

.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.login-with-github-btn {
  margin-top: 12px;
  width: 400px;
  height: 44px;
  left: 520px;
  top: 446px;
  transition: background-color 0.3s, box-shadow 0.3s;

  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: white;
  background-image: url("https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  cursor: pointer;
}

.login-with-github-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.login-with-github-btn:active {
  background-color: #eeeeee;
}

.have-an-account-text {
  margin-top: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #4f4f4f;
}

.password-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.terms-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #4f4f4f;
  margin-top: 24px;
}

.terms-text a {
  color: #2f80ed;
}

.check-inbox b {
  color: #333333;
}

.img-background {
  width: 280px;
  height: 250px;
  background: rgba(254, 226, 101, 0.3);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
}

.booking_photo {
  max-width: 100%;
  max-height: 100%;
}
