*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: local("SF Pro Display"),
    url("../fonts/SFProDisplay-Regular.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Regular.woff") format("woff");
}
@font-face {
  font-family: "SF Pro Display";
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  src: local("SF Pro Display"),
    url("../fonts/SFProDisplay-Medium.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Medium.woff") format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 600;
  font-style: normal;
  font-display: auto;
  src: local("SF Pro Display"),
    url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Semibold.woff") format("woff");
}
@font-face {
  font-family: "SF Pro Display";
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src: local("SF Pro Display"),
    url("../fonts/SFProDisplay-Bold.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Bold.woff") format("woff");
}

body {
  font-family: "SF Pro Display", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1260px;
  padding: 0 10px;
}

.header {
  min-height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
}

.logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
}

.logo-image {
  width: 24px;
  height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.logo-link-text {
  font-weight: 500;
  font-size: 18px;
  color: #1b1f2d;
  padding: 1.5px 0px 1.5px 4px;
  line-height: 21px;
  letter-spacing: 0.02em;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.registration-form-box {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 92px;
}

.registration-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  color: #181818;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.email-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #181818;
  margin-top: 40px;
  margin-left: 420px;
}

.email-input {
  padding: 11px 12px 12px;
  background: #f2f2f2;
  border-radius: 4px;
  width: 400px;
  height: 44px;
  margin-left: 420px;
  border: none;
  margin-top: 4px;
  outline-color: #2f80ed;
}

.email-submit {
  width: 400px;
  height: 44px;
  left: 520px;
  top: 330px;
  background: #2f80ed;
  border-radius: 6px;
  padding: 12px 18px;
  color: #ffffff;
  border: none;
  margin-left: 420px;
  margin-top: 30px;
}

.email-options-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #4f4f4f;
  margin-left: 16px;
  margin-right: 16px;
  }

  .email-options-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 27px;
    width: 400px;
    margin-left: 420px;
  }
  
  .horizontal-line {
    flex: 1;
    height: 1px;
    background-color: #E0E0E0;
  }
  
