{% extends 'base.html' %} {% load static %}

<!-- Amending page title -->
{% block title %} | Book Hotels in Oregon{% endblock%}

<!-- Adding navigation block -->
{% block navigation %} {% include 'partials/_navigation.html' %} {% endblock %}

<!-- Adding main content -->
{% block content %}

<!-- Connectiong page CSS styles -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/core/index.css' %}"
/>

<main class="main">
  <section class="booking-search">
    <div class="container">
      <div class="booking-search__cover-photo-container">
        <img
          src="{{ cover.cover_photo.url }}"
          alt="Cover photo"
          class="booking-search__cover-photo"
        />
        <h2 class="booking-search__cover-photo-title">
          {{ cover.cover_title }}
        </h2>
        <h4 class="booking-search__cover-photo-text">{{ cover.cover_text }}</h4>
      </div>

      {% include 'partials/_search_form.html' %}
    </div>
  </section>
  <section class="restrictions">
    <div class="container">{% include 'partials/_warning.html' %}</div>
  </section>

  <section class="counties-list">
    <div class="container">
      <h3 class="counties-list__title">Enjoy your dream vacation</h3>
      <span class="counties-list__text"
        >Plan and book our perfect trip with expert advice, travel tips,
        destination information and inspiration from us</span
      >
      <ul class="counties-list__destinations">
        {% for county, county_info in random_counties_list.items %}
        <li class="counties-list__destinations-container">
          <a
            href="{{ county | lower }}"
            class="counties-list__destinations-link"
          >
            <img
              src="{{ county_info.county_photo.url }}"
              alt="County
            photo"
              class="counties-list__destinations-photo"
            />
            <div class="counties-list__destinations-info">
              <span class="counties-list__destinations-info-name"
                >{{ county }}</span
              >
              <span class="counties-list__destinations-info-amount">
                {% if county_info.hotel_count == 1 %} 
                {{ county_info.hotel_count}} property {% else %} 
                {{ county_info.hotel_count }} properties
                {% endif %}
              </span>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <section class="blog">
    <div class="container">
      <h3 class="blog__title">Get inspiration for your next trip</h3>
      <ul class="blog__posts">
        {% for blog in blog_info %}
        <li class="blog__posts-item">
          <a href="{{ blog.get_absolute_url }}" class="blog__posts-link">
            <img
              src="{{ blog.blog_photo.url }}"
              alt="Blog photo"
              class="blog__posts-photo"
            />
            <div class="blog__posts-content">
              <h5 class="blog__posts-content-title">{{ blog.blog_title }}</h5>
              <p class="blog__posts-content-text">
                {{ blog.blog_text |truncatewords:12 }}
              </p>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <section class="popular-hotels">
    <div class="container">
      <h3 class="popular-hotels__title">Popular hotels</h3>
      <ul class="popular-hotels__destinations">
        {% for hotel in popular_hotels %}
        <li class="popular-hotels__destinations-item">
          <a href="#" class="popular-hotels__destinations-link">
            <img
              src="{{ hotel.hotel_cover_photo.url }}"
              alt=""
              class="popular-hotels__destinations-photo"
            />
            <div class="popular-hotels__destinations-info">
              <span class="popular-hotels__destinations-info-name"
                >{{ hotel.hotel_name }}</span
              >
              {% if hotel.hotel_rooms.count == 1 %}
        <span class="popular-hotels__destinations-info-amount">1 room</span>
    {% else %}
        <span class="popular-hotels__destinations-info-amount">{{ hotel.hotel_rooms.count }} rooms</span>
    {% endif %}
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <section class="download-app-promo">
    <div class="container">
      <a href="/" onclick="redirectToApp()">
        <img
          src="{% static 'images/photos/app/promo_app.jpg' %}"
          alt=""
          class="download-app-promo__photo"
      /></a>
    </div>
  </section>
  <section class="motto">
    <div class="container">
      <img
        src="{% static 'images/photos/motto/motto.jpg' %}"
        alt=""
        class="motto__photo"
      />
    </div>
  </section>

  <!-- Script to redirect the user to the google play/appstore depending on the device when "download mobile app" photo is clicked -->
  <script>
    function redirectToApp() {
      // Set default app URL
      var appUrl = "/";

      // Get user agent and convert to lower case
      var userAgent = navigator.userAgent.toLowerCase();

      // If user agent contains "iphone" or "ipad", redirect to App Store for iOS
      if (
        userAgent.indexOf("iphone") !== -1 ||
        userAgent.indexOf("ipad") !== -1
      ) {
        window.location.href = "https://apps.apple.com/ru/app/";
      }

      // If user agent contains "android", redirect to Google Play Store for Android
      else if (userAgent.indexOf("android") !== -1) {
        window.location.href = "https://play.google.com/store/apps/";
      }

      // If user agent contains "windows", redirect to the default app URL
      else if (userAgent.indexOf("windows") !== -1) {
        window.location.href = appUrl;
      }

      // For all other user agents, redirect to the default app URL
      else {
        window.location.href = appUrl;
      }
    }
  </script>
</main>
{% endblock %}

<!-- Adding footer -->
{% block footer %} {% include 'partials/_footer.html' %} {% endblock %}
