{% extends 'base.html' %} {% load static %}

<!-- Amending page title -->
{% block title %} | Book Hotels in Oregon{% endblock%}

<!-- Adding navigation block -->
{% block navigation %} {% include 'partials/_navigation.html' %} {% endblock %}

<!-- Adding main content -->
{% block content %}

<!-- Connectiong page CSS styles -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/core/index.css' %}"
/>

<main class="main">
  <section class="booking-search">
    <div class="container">
      <div class="booking-search__cover-photo-container">
        <img
          src="{{ cover.cover_photo.url }}"
          alt="Cover photo"
          class="booking-search__cover-photo"
        />
        <h2 class="booking-search__cover-photo-title">
          {{ cover.cover_title }}
        </h2>
        <h4 class="booking-search__cover-photo-text">{{ cover.cover_text }}</h4>
      </div>

      {% include 'partials/_hotels_search_form.html' %}
    </div>
  </section>
  <section class="restrictions">
    <div class="container">{% include 'partials/_warning.html' %}</div>
  </section>

  <section class="counties-list">
    <div class="container">
      <h3 class="counties-list__title">Enjoy your dream vacation</h3>
      <span class="counties-list__text"
        >Plan and book our perfect trip with expert advice, travel tips,
        destination information and inspiration from us</span
      >
      <ul class="counties-list__destinations-list">
        {% for county, county_info in random_counties_list.items %}
        <li class="counties-list__destinations-item-container">
          <a
          href="{{ hotel_search_url }}?destination={{ county }}&checkin={{ checkin_formatted }}&checkout={{ checkout_formatted }}&guests=1 guest · 1 room"
            class="counties-list__destinations-item-link"
            id="county-link"
          >
            <img
              src="{{ county_info.county_photo.url }}"
              alt="County photo"
              class="counties-list__destinations-item-photo"
            />
            <div class="counties-list__destinations-item-info">
              <span class="counties-list__destinations-item-info-name"
                >{{ county }}</span
              >
              <span class="counties-list__destinations-item-info-amount">
                {% if county_info.hotel_count == 1 %} 
                {{ county_info.hotel_count}} property {% else %} 
                {{ county_info.hotel_count }} properties
                {% endif %}
              </span>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <section class="blog">
    <div class="container">
      <h3 class="blog__title">Get inspiration for your next trip</h3>
      <ul class="blog__posts-list">
        {% for blog in blogs %}
        <li class="blog__posts-item">
          <a href="{{ blog.get_absolute_url }}" class="blog__posts-link">
            <img
              src="{{ blog.blog_photo.url }}"
              alt="Blog photo"
              class="blog__posts-item-photo"
            />
            <div class="blog__posts-item-content">
              <h5 class="blog__posts-item-content-title">{{ blog.blog_title }}</h5>
              <p class="blog__posts-item-content-text">
                {{ blog.blog_text |truncatewords:12 }}
              </p>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <section class="popular-hotels">
    <div class="container">
      <h3 class="popular-hotels__title">Popular hotels</h3>
      <ul class="popular-hotels__destinations-list">
        {% for hotel in popular_hotels %}
        <li class="popular-hotels__destinations-item">
          <a href="{% url 'hotel_detail' hotel.slug %}" class="popular-hotels__destinations-link">
            <img
              src="{{ hotel.hotel_cover_photo.url }}"
              alt=""
              class="popular-hotels__destinations-item-photo"
            />
            <div class="popular-hotels__destinations-item-info">
              <span class="popular-hotels__destinations-item-info-name"
                >{{ hotel.hotel_name }}</span
              >
              {% if hotel.hotel_rooms.count == 1 %}
        <span class="popular-hotels__destinations-item-info-amount">1 room</span>
    {% else %}
        <span class="popular-hotels__destinations-item-info-amount">{{ hotel.hotel_rooms.count }} rooms</span>
    {% endif %}
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <section class="download-app-promo">
    <div class="container">
      <a href="/" onclick="redirectToApp()">
        <img
          src="{% static 'images/core/photos/promo_app.jpg' %}"
          alt=""
          class="download-app-promo__photo"
      /></a>
    </div>
  </section>
  <section class="motto">
    <div class="container">
      <img
        src="{% static 'images/core/photos/motto.jpg' %}"
        alt=""
        class="motto__photo"
      />
    </div>
  </section>



</main>
<!-- Script to generate GET request to search for hotels using just county name -->
<script src="{% static 'js/core/county_link_generator.js' %}"></script>
<!-- Script to redirect the user to the google play/appstore depending on the device when "download mobile app" photo is clicked -->
<script src="{% static 'js/core/redirect_to_app.js' %}"></script>

{% endblock %}

<!-- Adding footer -->
{% block footer %} {% include 'partials/_footer.html' %} {% endblock %}
