.room-search__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #181818;
  padding-top: 40px;
  margin-bottom: 24px;
}

.room-search__form {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  max-height: 64px;
  border-radius: 8px;
  background: #ffffff;
  padding: 12px 10px;
  margin-bottom: 18px;
}

.room-search__item {
  display: flex;
  justify-content: center;
  position: relative;
  margin-right: 12px;
}

.room-search__item_calendar input {
  width: 320px;
}

.room-search__item_guests input {
  width: 320px;
}

#guests {
  cursor: pointer;
}

.room-search__item-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.guests-drop-down__menu {
  display: none;
  position: absolute;
  z-index: 300;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  width: 188px;
  transform: translateY(42px);
  background: #ffffff;
  box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.guests-drop-down__menu.show {
  display: flex;
}

.guests-drop-down-menu__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 10px 10px 14px;
}

.guests-drop-down-menu__buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
}

.guests-drop-down-menu__counter {
  margin: 0;
}

.guests-drop-down-menu__button_minus,
.guests-drop-down-menu__button_plus {
  width: 24px;
  height: 24px;
  background-color: #2f80ed;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.guests-drop-down-menu__label,
.guests-drop-down-menu__buttons-container {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #181818;
}

.guests-drop-down-menu__button_minus:disabled,
.guests-drop-down-menu__button_plus:disabled {
  background-color: #a6a6a6;
  cursor: default;
}

.guests-drop-down-menu__button_minus:focus,
.guests-drop-down-menu__button_plus:focus {
  outline: none;
}

.guests-drop-down-menu__button_minus:active,
.guests-drop-down-menu__button_plus:active {
  background-color: #005ea1;
}

.room-search-form__submit-button {
  background: #2f80ed;
  border: 1px solid #2f80ed;
  border-radius: 6px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #ffffff;
  min-width: 220px;
  padding: 10px;
  cursor: pointer;
}

.room-search-form__submit-button:hover {
  background: #2969bf;
  border: 1px solid #2969bf;
}
