{% extends 'accounts/authpage.html' %} {% load static %} {% load socialaccount
%} {% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/registration.css' %}"
/>

<section class="registration-form">
  <div class="registration-form-box">
    <h3 class="registration-title">Register</h3>
    <label class="email-text">Email address</label>
    <input type="email" id="email" name="email" class="email-input required" />
    <button type="submit" class="email-submit">Continue with Email</button>

    {% endblock %}

    {% block have-an-account-text %}
    <span class="have-an-account-text">Already have an account? <a href="/signin" class="sign-in-link">Sign in</a></span>
    {% endblock %}