{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'images/favicon/favicon.ico' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/normalize.css' %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <title>my Dream Place{% block title %}{% endblock %}</title>
  </head>

  <body>
    <div class="container">
      <header class="header">
        <a href="/" class="logo-link">
          <img
            src="{% static '/images/logos/logo.svg' %}"
            class="logo-image"
            alt="Website logo"
          />
          <span class="logo-link-text">my Dream Place</span>
        </a>
        
        {% block navigation %}
        {% endblock %}
        </div>
      </header>
    </div>

    {% block content %} {% endblock %}
     
    {% block footer %}
    {% endblock %}
    
  </body>
</html>
