{% extends 'base.html' %} 
{% load static %} 
{% block title %} | Book Hotels in Oregon{% endblock%} 

{% block navigation %}
{% include 'partials/_navigation.html' %}
{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/core/index.css' %}" />

<link
  rel="stylesheet"
  href="{% static 'node_modules/@trevoreyre/autocomplete-js/dist/style.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'node_modules/flatpickr/dist/flatpickr.min.css' %}"
/>

<main class="main">
  <section class="booking">
    <div class="container">
      <div class="booking-text-container">
        {% if cover_photo %}
        <img
          src="{{ cover_photo.cover_photo.url }}"
          alt="Main page photo"
          class="booking_photo"
        />
        {% endif %}
        <h2 class="booking-title">Enjoy Your Dream Vacation</h2>
        <h4 class="booking-text">
          Plan and book our perfect trip with expert advice, travel tips,
          destination information and inspiration from us
        </h4>
      </div>
      <form
        class="booking-form"
        method="get"
        action="{% url 'search_hotels' %}"
      >
        <div
          class="booking-form-group booking-form-group--geo"
          id="booking-form-group--geo"
        >
          <input
            type="text"
            class="booking-form-group__input"
            id="destination"
            name="destination"
            placeholder="Where are you going?"
            required
          />
          <ul class="autocomplete-result-list"></ul>
        </div>

        <div class="booking-form-group booking-form-group--calendar">
          <input
            type="text"
            id="checkin"
            name="checkin"
            placeholder="Check-in date"
            required
          />
        </div>
        <div class="booking-form-group booking-form-group--calendar">
          <input
            type="text"
            id="checkout"
            name="checkout"
            placeholder="Check-out date"
            required
          />
        </div>
        <div class="booking-form-group booking-form-group--guests">
          <input
            type="number"
            id="guests"
            name="guests"
            min="1"
            placeholder="Guests"
            required
          />
        </div>
        <button type="submit" class="booking-form-submit">Search</button>
      </form>
    </div>
  </section>
  <section class="restrictions">
    <div class="container">
      {% include 'partials/_warning.html' %}
    </div>
  </section>

  <section class="countries-list">
    <div class="container">
      <h3 class="countries-list-header">Enjoy your dream vacation</h3>
      <span class="countries-list-text"
        >Plan and book our perfect trip with expert advice, travel tips,
        destination information and inspiration from us</span
      >
      <ul class="countries-list-destinations">
        {% for destination, destination_info in available_destinations.items %}
        <li class="countries-list-destinations-box">
          <a href="{{ destination | lower }}" class="countries-list-link">
            <img src="{{ destination_info.country_photo.url }}"" alt="Country
            photo" class="countries-list-photo" />
            <div class="countries-list-destinations-info">
              <span class="countries-list-destinations-info-name"
                >{{ destination }}</span
              >
              <span class="countries-list-destinations-info-amount">
                {% if destination_info.hotel_count == 1 %}
                {{destination_info.hotel_count }} property {% else %}
                {{destination_info.hotel_count }} properties {% endif %}
              </span>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <section class="blog">
    <div class="container">
      <h3 class="blog-header">Get inspiration for your next trip</h3>
      <div class="blog-content">
        {% for blog in blog_info %}
        <div class="blog-content-box">
          <a href="{{ blog.get_absolute_url }}" class="countries-list-link">
            <img
              src="{{ blog.blog_photo.url }}"
              alt="Blog photo"
              class="blog-content-photo"
            />
            <div class="card-content">
              <h5 class="blog-header-content">{{ blog.blog_title }}</h5>
              <p class="blog-text-content">
                {{ blog.blog_text |truncatewords:12 }}
              </p>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="popular-hotels">
    <div class="container">
      <h3 class="popular-hotels-title">Popular hotels</h3>
      <ul class="popular-hotels-destinations">
        {% for hotel in popular_hotels %}
        <li class="popular-hotels-destinations-box">
          <a href="#" class="popular-hotels-destinations-link">
          <img
            src="{{ hotel.hotel_cover_photo.url }}"
            alt=""
            class="popular-hotels-photo"
          />
          
          <div class="popular-hotels-destinations-info">
              <span class="popular-hotels-destinations-info-name"
                >{{ hotel.hotel_name }}</span
              >
              <span class="popular-hotels-destinations-info-amount"
                >10 rooms</span
              >
          </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <section class="download-app-promo">
    <div class="container">
      <a href="/" onclick="redirectToApp()">
        <img
          src="{% static 'images/photos/app/promo_app.jpg' %}"
          alt=""
          class="promo-app-photo"
      /></a>
    </div>
  </section>
  <section class="motto">
    <div class="container">
      <img
        src="{% static 'images/photos/motto/motto.jpg' %}"
        alt=""
        class="motto-photo"
      />
    </div>
  </section>

  <script>
    function redirectToApp() {
      // Replace this URL with your mobile app link
      var appUrl = "/";
      var userAgent = navigator.userAgent.toLowerCase();

      // Check if the user agent is from an iOS device
      if (
        userAgent.indexOf("iphone") !== -1 ||
        userAgent.indexOf("ipad") !== -1
      ) {
        // Open the app in iOS using a custom URL scheme
        window.location.href = "https://apps.apple.com/ru/app/";
      }
      // Check if the user agent is from an Android device
      else if (userAgent.indexOf("android") !== -1) {
        // Open the app in Android using an intent URL
        window.location.href = "https://play.google.com/store/apps/";
      }
      // Check if the user agent is from a Windows device
      else if (userAgent.indexOf("windows") !== -1) {
        // Redirect to the app's website or app store page for Windows users
        window.location.href = appUrl;
      }
      // Redirect to the app store if the app is not installed on other devices
      else {
        window.location.href = appUrl;
      }
    }
  </script>

  <script src="{% static 'node_modules/flatpickr/dist/flatpickr.js' %}"></script>
  <script>
    // Get a reference to the trigger element
    const checkInput = document.getElementById("checkin");
    const checkOut = document.getElementById("checkout");

    // Calculate maxDate (today + 1 year)
    const maxDate = new Date();
    maxDate.setFullYear(maxDate.getFullYear() + 1);

    // Инициализация Flatpickr с опцией "altInput"
    flatpickr(checkOut, {
      altInput: checkOut,
      minDate: "today",
      maxDate: maxDate,
      dateFormat: "d-m-Y",
      onChange: function (selectedDates, dateStr, instance) {
        instance.set(
          "maxDate",
          checkOut.value != "" ? checkOut.value : undefined
        );
      },
    });

    flatpickr(checkInput, {
      altInput: checkInput,
      minDate: "today",
      dateFormat: "d-m-Y",
      onChange: function (selectedDates, dateStr, instance) {
        instance.set(
          "minDate",
          checkInput.value != "" ? checkInput.value : undefined
        );
      },
    });
  </script>

  <script src="{% static 'node_modules/@trevoreyre/autocomplete-js/dist/autocomplete.min.js' %}"></script>
  <script>
    new Autocomplete("#booking-form-group--geo", {
      search: (input) => {
        const url = "/search/?address=" + input.trim();
        return new Promise((resolve) => {
          fetch(url)
            .then((response) => response.json())
            .then((data) => {
              console.log(data);
              resolve(data.data);
            });
        });
      },
    });
  </script>
</main>
{% endblock %}

{% block footer %}
    {% include 'partials/_footer.html' %}
    {% endblock %}