input {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #4f4f4f;
  border: none;
  outline-color: #2f80ed;
  background: #f2f2f2;
  padding: 12px 0 10px 40px;
  border-radius: 4px;
}

booking-form-group__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #4f4f4f;
  border: none;
  outline-color: #2f80ed;
  background: #f2f2f2;
  padding: 12px 0 10px 40px;
  border-radius: 4px;
}

input[type="date"]::before {
  content: attr(placeholder);
  width: 100%;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  display: none;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 60px;
}

.booking-search {
  padding-top: 12px;
  position: relative;
}

.booking-search__cover-photo-container {
  position: relative;
  text-align: center;
}

.booking-search__cover-photo {
  max-width: 1240px;
  max-height: 500px;
  border-radius: 10px;
  filter: brightness(70%);
}

.booking-search__cover-photo-title {
  position: absolute;
  bottom: 200px;
  left: 315px;
  right: 315px;
  color: #ffffff;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
}

.booking-search__cover-photo-text {
  position: absolute;
  bottom: 130px;
  left: 295px;
  right: 295px;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.booking-search-form {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  max-width: 1030px;
  max-height: 64px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.15);
  position: absolute;
  right: 50%;
  bottom: 0;
  transform: translate(50%, 50%);
  padding: 12px 10px;
}

.booking-search-form__item {
  display: flex;
  justify-content: center;
  position: relative;
  margin-right: 12px;
}

#guests {
  cursor: pointer;
}

.booking-search-form__item__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.booking-form-group__input {
  padding-left: 42px;
}

.booking-search-form__drop-down-menu {
  display: none;
  position: absolute;
  z-index: 300;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  width: 188px;
  transform: translateY(42px);
  background: #ffffff;
  box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.booking-search-form__drop-down-menu.show {
  display: flex;
}

.booking-search-form__drop-down-menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 10px 10px 14px;
}

.booking-search-form__drop-down-menu-choice_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
}

.booking-search-form__drop-down-menu-count {
  margin: 0;
}

.booking-search-form__drop-down-menu-button-minus,
.booking-search-form__drop-down-menu-button-plus {
  width: 24px;
  height: 24px;
  background-color: #2f80ed;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.booking-search-form__drop-down-menu-label,
.booking-search-form__drop-down-menu-choice_container {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #181818;
}

.booking-search-form__drop-down-menu-button-minus:disabled,
.booking-search-form__drop-down-menu-button-plus:disabled {
  background-color: #a6a6a6;
  cursor: default;
}

.booking-search-form__drop-down-menu-button-minus:focus,
.booking-search-form__drop-down-menu-button-plus:focus {
  outline: none;
}

.booking-search-form__drop-down-menu-button-minus:active,
.booking-search-form__drop-down-menu-button-plus:active {
  background-color: #005ea1;
}

.booking-search-form__submit-button {
  background: #2f80ed;
  border: 1px solid #2f80ed;
  border-radius: 6px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #ffffff;
  min-width: 148px;
  padding: 5px;
  cursor: pointer;
}

.booking-search-form__submit-button:hover{
  background: #2969BF;
  border: 1px solid #2969BF;
}

.counties-list__title {
  margin-top: 50px;
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  color: #181818;
  margin-block-end: 16px;
}

.counties-list__text {
  display: block;
  max-width: 610px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #333333;
}

.counties-list__destinations {
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0px;
  margin-top: 0px;
}

.counties-list__destinations-container {
  display: flex;
  flex-direction: column;
}

.counties-list__destinations-container:not(:last-child) {
  margin-right: 20px;
}

.counties-list__destinations-container a {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #181818;
}

.counties-list__destinations-photo {
  margin-top: 30px;
  width: 295px;
  height: 220px;
  border-radius: 8px;
}

.counties-list__destinations-info {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ccounties-list__destinations-info-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #181818;
}

.counties-list__destinations-info-amount {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #181818;
}

.blog__title {
  margin-top: 60px;
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  color: #181818;
  margin-block-end: 10px;
}

.blog__posts {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0px;
}

.blog__posts-item {
  position: relative;
  width: 400px;
  height: 280px;
}

.blog__posts-item:not(:last-child) {
  margin-right: 20px;
}

.blog__posts-photo {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.blog__posts-content {
  color: #fff;
  position: absolute;
  left: 20px;
  right: 20px;
  text-align: left;
  bottom: 20px;
  margin-block-start: 0px;
}

.blog__posts-content-title {
  text-shadow: 0 1px 0 black;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-block-end: 10px;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px;
}

.blog__posts-content-text {
  text-shadow: 0 1px 0 black;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-block-start: 0px;
  margin-block-end: 0px;
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px; 
}

.popular-hotels__title {
  margin-top: 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  color: #181818;
  margin-block-end: 0px;
}

.popular-hotels__destinations {
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0px;
  margin-top: 0px;
  margin-block-end: 0px;
}

.popular-hotels__destinations-item {
  display: flex;
  flex-direction: column;
}
.popular-hotels__destinations-item:not(:last-child) {
  margin-right: 20px;
}

.popular-hotels__destinations-photo {
  margin-top: 24px;
  width: 295px;
  height: 300px;
  border-radius: 8px;
}

.popular-hotels__destinations-info {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popular-hotels__destinations-info-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #181818;
}

.popular-hotels__destinations-info-amount {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #181818;
}

.download-app-promo__photo {
  max-height: 280px;
  margin: 60px 0px 80px 0px;
}

.motto__photo {
  max-width: 820px;
  max-height: 70px;
  margin: 0px 310px 80px 310px;
}
