input {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #4f4f4f;
  border: none;
  outline-color: #2f80ed;
  background: #f2f2f2;
  padding: 12px 0 10px 40px;
  border-radius: 4px;
}

booking-form-group__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #4f4f4f;
  border: none;
  outline-color: #2f80ed;
  background: #f2f2f2;
  padding: 12px 0 10px 40px;
  border-radius: 4px;
}

input[type="date"]::before {
  content: attr(placeholder);
  width: 100%;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  display: none;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 60px;
}

.booking-search {
  padding-top: 12px;
  position: relative;
}

.booking-search__cover-photo-container {
  position: relative;
  text-align: center;
}

.booking-search__cover-photo {
  max-width: 1240px;
  max-height: 500px;
  border-radius: 10px;
  filter: brightness(70%);
}

.booking-search__cover-photo-title {
  position: absolute;
  bottom: 200px;
  left: 315px;
  right: 315px;
  color: #ffffff;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
}

.booking-search__cover-photo-text {
  position: absolute;
  bottom: 130px;
  left: 295px;
  right: 295px;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.booking-form {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  max-width: 1030px;
  max-height: 64px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.15);
  position: absolute;
  right: 50%;
  bottom: 0;
  transform: translate(50%, 50%);
  padding: 12px 10px;
}

.booking-form-group {
  display: flex;
  justify-content: center;
  position: relative;
  margin-right: 12px;
}

.booking-form-group::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 12px;
  transform: translate(0, -50%);
  top: 50%;
}
.booking-form-group--geo::before {
  background: url("../images/icons/geo.svg");
  background-repeat: no-repeat;
}

.booking-form-group--calendar::before {
  background: url("../images/icons/calendar.svg");
  background-repeat: no-repeat;
}

.booking-form-group--guests::before {
  background: url("../images/icons/guests.svg");
  background-repeat: no-repeat;
}
.booking-form-group img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.booking-form-submit {
  background: #2f80ed;
  border: 1px solid #2f80ed;
  border-radius: 6px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #ffffff;
  min-width: 148px;
  padding: 5px;
  cursor: pointer;
}

.countries-list-header {
  margin-top: 50px;
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  color: #181818;
  margin-block-end: 16px;
}

.countries-list-text {
  display: block;
  max-width: 610px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #333333;
}

.countries-list-destinations {
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0px;
  margin-top: 0px;
}

.countries-list-destinations-box {
  display: flex;
  flex-direction: column;
}
.countries-list-destinations-box:not(:last-child) {
  margin-right: 20px;
}

.countries-list-photo {
  margin-top: 30px;
  width: 295px;
  height: 220px;
  border-radius: 8px;
}

.countries-list-destinations-info {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.countries-list-destinations-info-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #181818;
}

.countries-list-destinations-info-amount {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #181818;
}

.blog-header {
  margin-top: 60px;
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  color: #181818;
  margin-block-end: 10px;
}

.blog-content {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
}

.blog-content-box {
  position: relative;
  width: 400px;
  height: 280px;
}

.blog-content-box:not(:last-child) {
  margin-right: 20px;
}

.blog-content-photo {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.card-content {
  color: #fff;
  position: absolute;
  left: 20px;
  right: 20px;
  text-align: left;
  bottom: 20px;
  margin-block-start: 0px;
}

.blog-header-content {
  text-shadow: 0 1px 0 black;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-block-end: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* add semi-transparent background */
  padding: 10px; /* add padding to create space between text and background */
}

.blog-text-content {
  text-shadow: 0 1px 0 black;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-block-start: 0px;
  margin-block-end: 0px;
  background-color: rgba(0, 0, 0, 0.5); /* add semi-transparent background */
  padding: 10px; /* add padding to create space between text and background */
}

.popular-hotels-title {
  margin-top: 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  color: #181818;
  margin-block-end: 0px;
}

.popular-hotels-destinations {
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0px;
  margin-top: 0px;
  margin-block-end: 0px;
}

.popular-hotels-destinations-box {
  display: flex;
  flex-direction: column;
}
.popular-hotels-destinations-box:not(:last-child) {
  margin-right: 20px;
}

.popular-hotels-photo {
  margin-top: 24px;
  width: 295px;
  height: 300px;
  border-radius: 8px;
}

.popular-hotels-destinations-info {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popular-hotels-destinations-info-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #181818;
}

.popular-hotels-destinations-info-amount {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #181818;
}

.promo-app-photo {
  max-height: 280px;
  margin: 60px 0px 80px 0px;
}

.motto-photo {
  max-width: 820px;
  max-height: 70px;
  margin: 0px 310px 80px 310px;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05)); */
}

.container {
  margin: 0 auto;
  max-width: 1260px;
  padding: 0 10px;
}
