*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: local("SF Pro Display"),
    url("../../fonts/SFProDisplay-Regular.woff2") format("woff2"),
    url("../../fonts/SFProDisplay-Regular.woff") format("woff");
}
@font-face {
  font-family: "SF Pro Display";
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  src: local("SF Pro Display"),
    url("../../fonts/SFProDisplay-Medium.woff2") format("woff2"),
    url("../../fonts/SFProDisplay-Medium.woff") format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 600;
  font-style: normal;
  font-display: auto;
  src: local("SF Pro Display"),
    url("../../fonts/SFProDisplay-Semibold.woff2") format("woff2"),
    url("../../fonts/SFProDisplay-Semibold.woff") format("woff");
}
@font-face {
  font-family: "SF Pro Display";
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src: local("SF Pro Display"),
    url("../../fonts/SFProDisplay-Bold.woff2") format("woff2"),
    url("../../fonts/SFProDisplay-Bold.woff") format("woff");
}

body {
  font-family: "SF Pro Display", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #4f4f4f;
  border: none;
  outline-color: #2f80ed;
  background: #f2f2f2;
  padding: 12px 0 10px 40px;
  border-radius: 4px;
}

input[type="date"]::before {
  content: attr(placeholder);
  width: 100%;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  display: none;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 60px;
}

.header__background {
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, #2969bf 0%, #215fb3 100%);
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: 1260px;
  padding: 0 10px;
}

.header {
  width: 100%;
  height: 200px;
  background: linear-gradient(180deg, #2969bf 0%, #144e9d 100%);
}

.header__logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  flex-direction: row-reverse;
}

.header__logo-image {
  width: 24px;
  height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.header__logo-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.header-menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.header-menu__item {
  padding-right: 48px;
}

.header-menu__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.header-user-profile-container {
  display: flex;
  align-items: center;
}

.header-user-profile-container__notifications-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.header-user-profile-container__user-avatar {
  margin-left: 22px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
}

.header-user-profile-container__user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.header-user-profile-container__dropdown-menu {
  display: none;
  position: absolute;
  z-index: 300;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  width: 200px;
  transform: translateX(-155px);
  height: 183px;
  background: #ffffff;
  box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.header-user-profile-container__dropdown-menu.show {
  display: flex;
}

.header-uer-profile-container__dropdown-menu-item-container:not(:last-child) {
  padding: 10px 10px 10px 14px;
  height: 40px;
  width: 100%;
  box-shadow: 0px 0.5px 0px #d6d6d6;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.header-uer-profile-container__dropdown-menu-item-container:last-child {
  padding: 10px 10px 10px 14px;
  height: 40px;
  width: 100%;
}

.header-uer-profile-container__dropdown-menu-item-container:hover {
  text-decoration: underline;
}

.header-uer-profile-container__dropdown-menu-item-container a {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #4f4f4f;
  display: flex;
  flex-direction: row;
}

.header-uer-profile-container__dropdown-menu-item-container img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.header-button-container__register-button {
  height: 40px;
  padding: 10px 18px;
  background: #ffffff;
  border: 1px solid #2f80ed;
  border-radius: 6px;
  color: #2f80ed;
  cursor: pointer;
}

.header-button-container__signin-button {
  height: 40px;
  padding: 10px 18px;
  color: #ffff;
  background: #2f80ed;
  border: 1px solid #2f80ed;
  border-radius: 6px;
  margin-left: 10px;
  cursor: pointer;
}

.header-button-container__register-button:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.header-button-container__signin-button:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.booking-search-form {
  transform: translate(50%, 260%);
}

.page-content {
  margin-top: 104px;
  margin-bottom: 60px;
  display: flex;
}
.page-content__left-side {
  flex: 0 0 24%;
  margin-right: 10px;
}
.page-content__right-side {
  flex: 0 0 76%;
  margin-left: 10px;
}

.page-content__filters-container {
  width: 295px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.page-content__filter-search-container {
  height: 119px;
  width: 100%;
  background: #f2f2f2;
  border-radius: 6px;
  position: relative;
}

.page-content__filter-search-title {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-left: 18px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #181818;
}

.page-content__filter-search-input {
  padding: 11px 12px 12px;
  margin: 16px 18px 20px 18px;
  width: 259px;
  height: 44px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding-left: 42px;
}

.page-content__filter-search-icon {
  position: absolute;
  left: 29px;
  top: 50%;
  transform: translateY(42%);
  width: 20px;
  height: 20px;
}

.page-content__filter-by-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #333333;
  margin: 20px 0px 20px 18px;
}

.page-content__filter-container {
  margin-top: 20px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
}

.page-content__filter-container-title {
  box-sizing: border-box;
  padding: 18px;
  gap: 10px;
  height: 55px;
  background: #f2f2f2;
  border: 1px solid #e0e0e0;
  border-radius: 6px 6px 0px 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #181818;
}

.page-content__filter-choice-list {
  margin-top: 20px;
  margin-bottom: 14px;
  padding-inline-start: 0px;
}

.page-content__filter-choice-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #333333;
}

.page-content__filter-choice-list input[type="checkbox"] {
  margin-right: 8px;
  margin-left: 18px;
  width: 20px;
  height: 20px;
}

.page-content__filter-choice-list span {
  margin-left: auto;
  padding-right: 20px;
}

.page-content__budget-per-day-filter-set-budget-switch-container {
  margin: 20px 0px 24px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-content__budget-per-day-filter-set-budget-switch-container label {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #4f4f4f;
}

.page-content__budget-per-day-filter-set-budget-switch {
  margin-right: 20px;
  --button-width: 3.5em;
  --button-height: 2em;
  --toggle-diameter: 1.5em;
  --button-toggle-offset: calc(
    (var(--button-height) - var(--toggle-diameter)) / 2
  );
  --toggle-shadow-offset: 10px;
  --toggle-wider: 3em;
  --color-grey: #cccccc;
  --color-green: #4296f4;
}

.page-content__budget-per-day-filter-set-budget-switch-slider {
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-grey);
  border-radius: calc(var(--button-height) / 2);
  position: relative;
  transition: 0.3s all ease-in-out;
}

.page-content__budget-per-day-filter-set-budget-switch-slider::after {
  content: "";
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-color: #fff;
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0
    calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
}

.page-content__budget-per-day-filter-set-budget-switch
  input[type="checkbox"]:checked
  + .page-content__budget-per-day-filter-set-budget-switch-slider {
  background-color: var(--color-green);
}

.page-content__budget-per-day-filter-set-budget-switch
  input[type="checkbox"]:checked
  + .page-content__budget-per-day-filter-set-budget-switch-slider::after {
  transform: translateX(
    calc(
      var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)
    )
  );
  box-shadow: calc(var(--toggle-shadow-offset) * -1) 0
    calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.page-content__budget-per-day-filter-set-budget-switch input[type="checkbox"] {
  display: none;
}

.page-content__budget-per-day-filter-set-budget-switch
  input[type="checkbox"]:active
  + .page-content__budget-per-day-filter-set-budget-switch-slider::after {
  width: var(--toggle-wider);
}

.page-content__budget-per-day-filter-set-budget-switch
  input[type="checkbox"]:checked:active
  + .page-content__budget-per-day-filter-set-budget-switch-slider::after {
  transform: translateX(
    calc(
      var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)
    )
  );
}

.page-content__filter-container-text {
  margin-top: 20px;
  padding: 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #4f4f4f;
}

.page-content__filter-by-rating-choice-stars-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px 0px 24px 18px;
  margin-left: 18px;
  margin-top: 8px;
}

.page-content__filter-by-rating-choice-stars-button {
  width: 50px;
  height: 46px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
}

.page-content__filter-by-rating-choice-stars-button.selected {
  background: #f2f2f2;
}

.page-content__filter-by-rating-choice-stars-button-star-icon {
  width: 18px;
  height: 18px;
}

.page-content__filter-by-rating-choice-stars-button-left {
  border-radius: 5px 0px 0px 5px;
}

.page-content__filter-by-rating-choice-stars-button-right {
  border-radius: 0px 5px 5px 0px;
}

.page-content__search-results-title {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #181818;
}

.page-content__allocation-type-filter-container {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-content__allocation-type-filter-button {
  padding: 10px 18px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #2f80ed;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #4f4f4f;
}

.page-content__allocation-type-filter-button-left {
  border: 1px solid #2f80ed;
  border-radius: 6px 0px 0px 6px;
}

.page-content__allocation-type-filter-button-right {
  border: 1px solid #2f80ed;
  border-radius: 0px 6px 6px 0px;
}

.page-content__allocation-type-filter-button.selected {
  background: rgba(47, 128, 237, 0.05);
}

.page-content__sort-by-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 48px;
  width: 190px;
  padding: 8px 12px;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  border-radius: 6px;
  margin-left: 110px;
  position: relative;
}

.page-content__sort-by-container-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: #828282;
}

.page-content__sort-by-container-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  right: 12px;
  top: 16px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.page-content__sort-by-container-icon.rotated {
  transform: rotate(180deg);
}

.page-content__sort-by-container-choice {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #333333;
}

.page-content__sort-by-drop-down-item-list {
  display: none;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #333333;
  padding-inline-start: 0px;
  position: absolute;
  top: 43px;
  padding: 10px 0px;
  width: 190px;
  transform: translateX(-13px);
  background: #ffffff;
  border: 1px solid #bdbdbd;
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-block-start: 0px;
}

.page-content__sort-by-drop-down-item {
  cursor: pointer;
  width: 100%;
}

.page-content__sort-by-drop-down-item span {
  margin-left: 12px;
}

.page-content__sort-by-drop-down-item:hover {
  background: #f2f2f2;
}

.page-content__search-results-list {
  margin-top: 24px;
  padding-inline-start: 0px;
}

.page-content__search-results-item {
  max-width: 915px;
  max-height: 240px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-content__search-results-item-image {
  width: 285px;
  height: 200px;
  margin: 20px;
  border-radius: 5px;
}

.page-content__search-results-item-info-container {
  width: 562px;
  height: 192px;
  margin: 24px;
  display: flex;
  flex-direction: column;
}

.page-content__search-results-item-info-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.page-content__search-results-item-info-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #1a1a1a;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.page-content__search-results-item-info-title-promo {
  width: 190px;
  height: 26px;
  background: #eb5757;
  border-radius: 6px;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-content__search-results-item-info-rating-container {
  margin-top: 7px;
  max-height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-content__search-results-item-info-rating-stars-container {
  display: flex;
  flex-direction: row;
  height: 20px;
  width: 90px;
}

.page-content__search-results-item-info-rating-star-icon {
  height: 20px;
  width: 20px;
}

.page-content__search-results-item-info-rating-star-icon-half {
  height: 20px;
  width: 10px;
}

.page-content__search-results-item-info-rating-stars-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #4f4f4f;
  margin-left: 12px;
}

.page-content__search-results-item-info-data-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-content__search-results-item-info-data-container-left {
  width: 380px;
}

.page-content__search-results-item-info-data-offer-title {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-top: 18px;
  height: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #4f4f4f;
}

.page-content__search-results-item-info-data-offer-text {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-top: 4px;
  height: 36px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #4f4f4f;
}

.page-content__search-results-item-info-data-see-availability {
  margin-top: 18px;
  padding: 10px 18px;
  width: 137px;
  height: 40px;
  background: #2f80ed;
  border: 1px solid #2f80ed;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #ffffff;
  cursor: pointer;
}

.page-content__search-results-item-info-data-see-availability:hover {
  background: #2969bf;
  border: 1px solid #2969bf;
}

.page-content__search-results-item-info-data-container-right {
  margin-top: 31px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.page-content__search-results-item-info-data-discount {
  width: 54px;
  height: 26px;
  background: #219653;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-content__search-results-item-info-data-rooms-text {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-top: 6px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #333333;
}

.page-content__search-results-item-info-data-price-container {
  margin-top: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 88px;
  height: 24px;
}

.page-content__search-results-item-info-data-price-discount {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  text-decoration-line: line-through;
  color: #eb5757;
}

.page-content__search-results-item-info-data-price-full {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.01em;
  color: #333333;
}

.page-content__search-results-item-info-data-taxes-text {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-top: 6px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 0.02em;
  color: #333333;
}

.more-results__button-container {
  text-align: center;
}

.more-results__button {
  padding: 10px 18px;
  width: 156px;
  height: 40px;
  background: rgba(47, 128, 237, 0.1);
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #2f80ed;
  border: none;
  cursor: pointer;
}

.more-results__button:hover {
  background: rgba(47, 128, 237, 0.2);
}

main {
  margin-bottom: 70px;
}
