button {
  width: 400px;
  height: 44px;
  background: #2f80ed;
  border-radius: 6px;
  padding: 12px 18px;
  color: #ffffff;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

p {
  margin-top: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #4f4f4f;
  margin-block-end: 0px;
}

h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  color: #181818;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

form {
  display: flex;
  flex-direction: column;
}

.registration-form__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 92px;
  max-width: 400px;
  align-items: center;
  position: relative;
}

.registration-form__password-creation-form {
  display: none;
}

.authentification__input {
  padding: 11px 12px 12px;
  background: #f2f2f2;
  border-radius: 4px;
  width: 400px;
  height: 44px;
  border: none;
  margin-top: 4px;
  outline-color: #2f80ed;
}

.authentification__top-form-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #181818;
  margin-top: 40px;
}

.authentification__bottom-form-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #181818;
  margin-top: 20px;
  align-self: start;
}

.authentification__error-message {
  width: 100%;
  padding: 0 10px;
  font-size: 12px;
  background: #d30909;
  color: #fff;
  height: 24px;
  text-align: left;
  display: flex;
  align-items: center;
}

.authentification__error-message ul {
  padding-inline-start: 0px;
}

.authentification__error-message:empty {
  opacity: 0;
}

.signin-form__checkbox-restore-password-container {
  display: flex;
  margin-top: 20px;
}

.signin-form__checkbox-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #4f4f4f;
  margin-left: 8px;
}

.signin-form__restore-password-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.02em;
  color: #2f80ed;
  margin-left: 150px;
}

.email-options-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #4f4f4f;
  margin-left: 16px;
  margin-right: 16px;
}

.authentification__have-an-account-text {
  margin-top: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #4f4f4f;
}

.authentification-form__terms-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #4f4f4f;
  margin-top: 24px;
}

.authentification-form__terms-text a {
  color: #2f80ed;
}

.check-inbox b {
  color: #333333;
}

.img-background {
  width: 280px;
  height: 250px;
  background: rgba(254, 226, 101, 0.3);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
}

.booking_photo {
  max-width: 100%;
  max-height: 100%;
}
