.header-menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.header-menu__item {
  padding-right: 48px;
}

.header-menu__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #333333;
}

.header-user-profile-container {
  display: flex;
  align-items: center;
}

.header-user-profile-container__notifications-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.header-user-profile-container__user-avatar {
  margin-left: 22px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
}

.header-user-profile-container__user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.header-user-profile-container__dropdown-menu {
  display: none;
  position: absolute;
  z-index: 300;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  width: 200px;
  transform: translateX(-155px);
  height: 183px;
  background: #ffffff;
  box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.header-user-profile-container__dropdown-menu.show {
  display: flex;
}

.header-uer-profile-container__dropdown-menu-item-container:not(:last-child) {
  padding: 10px 10px 10px 14px;
  height: 40px;
  width: 100%;
  box-shadow: 0px 0.5px 0px #d6d6d6;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.header-uer-profile-container__dropdown-menu-item-container:last-child {
  padding: 10px 10px 10px 14px;
  height: 40px;
  width: 100%;
}

.header-uer-profile-container__dropdown-menu-item-container:hover {
  text-decoration: underline;
}

.header-uer-profile-container__dropdown-menu-item-container a {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #4f4f4f;
  display: flex;
  flex-direction: row;
}

.header-uer-profile-container__dropdown-menu-item-container img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.header-button-container__register-button {
  height: 40px;
  padding: 10px 18px;
  background: #ffffff;
  border: 1px solid #2f80ed;
  border-radius: 6px;
  color: #2f80ed;
  cursor: pointer;
}

.header-button-container__signin-button {
  height: 40px;
  padding: 10px 18px;
  color: #ffff;
  background: #2f80ed;
  border: 1px solid #2f80ed;
  border-radius: 6px;
  margin-left: 10px;
  cursor: pointer;
}

.header-button-container__register-button:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.header-button-container__signin-button:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}