.booking-search-form {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  max-width: 1030px;
  max-height: 64px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0px 4px 37px rgba(0, 0, 0, 0.15);
  position: absolute;
  right: 50%;
  bottom: 0;
  padding: 12px 10px;
}

.booking-search-form__item {
  display: flex;
  justify-content: center;
  position: relative;
  margin-right: 12px;
}

.booking-search-form__item__geo input {
  width: 260px;
}

.booking-search-form__item__calendar input{
  width: 170px;
}

.booking-search-form__item__guests input{
  width: 210px;
}

#guests {
  cursor: pointer;
}

.booking-search-form__item__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.booking-form-group__input {
  padding-left: 42px;
}

.booking-search-form__drop-down-menu {
  display: none;
  position: absolute;
  z-index: 300;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  width: 188px;
  transform: translateY(42px);
  background: #ffffff;
  box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.booking-search-form__drop-down-menu.show {
  display: flex;
}

.booking-search-form__drop-down-menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 10px 10px 14px;
}

.booking-search-form__drop-down-menu-choice_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
}

.booking-search-form__drop-down-menu-count {
  margin: 0;
}

.booking-search-form__drop-down-menu-button-minus,
.booking-search-form__drop-down-menu-button-plus {
  width: 24px;
  height: 24px;
  background-color: #2f80ed;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.booking-search-form__drop-down-menu-label,
.booking-search-form__drop-down-menu-choice_container {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #181818;
}

.booking-search-form__drop-down-menu-button-minus:disabled,
.booking-search-form__drop-down-menu-button-plus:disabled {
  background-color: #a6a6a6;
  cursor: default;
}

.booking-search-form__drop-down-menu-button-minus:focus,
.booking-search-form__drop-down-menu-button-plus:focus {
  outline: none;
}

.booking-search-form__drop-down-menu-button-minus:active,
.booking-search-form__drop-down-menu-button-plus:active {
  background-color: #005ea1;
}

.booking-search-form__submit-button {
  background: #2f80ed;
  border: 1px solid #2f80ed;
  border-radius: 6px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #ffffff;
  min-width: 148px;
  padding: 5px;
  cursor: pointer;
}

.booking-search-form__submit-button:hover {
  background: #2969bf;
  border: 1px solid #2969bf;
}
