{% extends 'base.html' %} 
{% load static %} 
{% load widget_tweaks %} 
{% block title %}
<!-- Set page title depending on the page link -->
{% if request.path == '/register/' %}
 | Registration
{% elif request.path == '/signin/' %}
 | Sign In
{% elif request.path == '/password_reset/' %}
 | Restore password
{% elif request.path == '/password_reset/done/' %}
 | Restore password
{% endif %} 
{% endblock %} 
 
 {% block content %}

<!-- Loading css style for the page -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/users/authentification.css' %}"
/>

<section class="authentification">
  <div class="registration-form__container">
    {% if request.path == '/register/' %}
    <form class="registration-form__email" method="POST">
      <h3 class="registration-form__email-title">
        {{ register_title }}
      </h3>
      <label class="registration-form__email-text email-label">Email address</label>
      {{ form.email | attr:"class:registration-form__email-input input" }}
      <div class="registration-form__email-error error-message" id="email-error-message">{{ form.email.errors.0 }}</div>
      <button
        type="submit"
        class="registration-form__submit-button"
        id="continue-with-email-button-registration"
      >
        {{ button }}
      </button>
      {% include 'partials/_third_party_auth.html' %}
      <span class="registration-form__have-an-account-text have-an-account-text">
        Already have an account?
        <a href="/signin/" class="registration-form__sign-in-link"
          >Sign in</a
        >
      </span>
    </form>

    <form class="registration-form__password" method="POST">
      <h3 class="registration-form__password-title">{{ create_password_title }}</h3>
      <p class="registration-form__password-text">
        Use a minimum of 10 characters, including letters, lowercase and
        uppercase letters, and numbers.
      </p>
      {% csrf_token %}
      <label class="registration-form__label top-form-label">Password</label>
      <input
        type="password"
        name="password"
        class="registration-form__input input"
        id="password1"
        required
      />
      <div class="registration-form__password-error error-message" id="password1-error-message">{{ form.password.errors.0 }}</div>
      <label class="registration-form__label bottom-form-label">Confirm Password</label>
      <input
        type="password"
        name="confirm_password"
        class="registration-form__input input"
        id="password2"
        required
      />
      <div class="registration-form__password-error error-message" id="password2-error-message">{{ form.password.errors.0 }}</div>
      <button type="submit" class="registration-form__submit-button" id="create-user-button">
        Create account
      </button>
      <span class="registration-form__terms-text terms-text"
        >By creating an account, you agree with our
        <a href="#" class="registration-form__terms-text terms-link">Terms and Conditions</a> and
        <a href="#" class="registration-form__terms-text terms-link">Privacy Statement.</a></span
      >
    </form>
  </div>

  {% elif request.path == '/signin/' %}
  <form class="signin-form" method="POST">
    <h3 class="signin-form__title">{{ title }}</h3>

    <label class="signin-form__label top-form-label">Email address</label>
    {% csrf_token %} 
    {{ form.email | attr:"class:signin-form__email-input input" }}
    <div class="signin-form__email-error error-message" id="email-error-message">{{ form.email.errors.0 }}</div>
    <label class="signin-form__label bottom-form-label">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      class="signin-form__password-input input"
      required
    />
    <div class="signin-form__password-error error-message" id="password-error-message">{{ form.email.errors.0 }}</div>
    <div class="signin-form__checkbox-restore-password-container">
      <input type="checkbox" id="keep-signed-in" name="keep-signed-in" />
      <label class="signin-form__checkbox-text" for="keep-signed-in"
        >Keep me signed in</label
      >
      <a href="/password_reset/" class="signin-form__restore-password-link"
        >Forgot password?</a
      >
    </div>
    <button
      type="submit"
      class="signin-form__submit-button"
      id="continue-with-email-button-signin"
    >
      {{ button }}
    </button>

    {% include 'partials/_third_party_auth.html' %}

    <span class="signin-form__have-an-account-text have-an-account-text">
      Already have an account?
      <a href="/register/" class="signin-form__register-link">Register</a>
    </span>
  </form>


  {% elif request.path == '/password_reset/' %}
  <h3 class="password-reset__title">{{ title }}</h3>
  <p class="password-reset__text">
    We’ll send you a link to reset it. Enter your email address used for My
    Dream Place.
  </p>
  <form class="password-reset-form" method="post">
    {% csrf_token %}
    <label class="password-reset-form__label top-form-label">Your email address</label>
    {{ form.email | attr:"class:password-reset-form__email-input input" }}
    <div class="password-reset-form__email-error error-message" id="error-message">{{ form.email.errors.0 }}</div>
    <button type="submit" class="password-reset-form__submit-button" id="reset-link-button">
      {{ button }}
    </button>
    <span class="password-reset-form__terms-text terms-text"
      >By creating an account, you agree with our
      <a href="#" class="password-reset-form__terms-link terms-link">Terms and Conditions</a> and
      <a href="#" class="password-reset-form__terms-link terms-link">Privacy Statement</a>.</span
    >

  {% elif request.path == '/password_reset/done/' %}

  <div class="password-reset-done__image-background">
    <img
      src="{% static 'images/users/icons/restore_password.svg' %}"
      alt="Restore password image"
      class="password-reset-done__image"
    />
  </div>

  <h3 class="password-reset-done__title">{{ title }}</h3>
  <p class="password-reset-done__text">
    We have just emailed you the instrustions and a reset password link to
    <b>{{ email }}</b>. It might take a few minutes to arrive
  </p>
  <button
    type="button"
    class="password-reset-done__submit-button"
    id="reset-link-button-done"
    onclick="window.location.href = '/signin/'"
  >
    {{ button }}
  </button>

  {% endif %}
</section>

<script>
  // Define a JavaScript variable to store the CSRF token value
  var csrfToken = "{{ csrf_token }}";
</script>

{% if request.path == '/register/' %}

<!-- Script to validate email inputs in registration -->
<script src="{% static 'js/users/email_registration_validation.js' %}"></script>

<!-- Script to validate password inputs in registration -->
<script src="{% static 'js/users/password_registration_validation.js' %}"></script>

{% elif request.path == '/signin/' %}

<!-- Script to validate inputs in sign-in -->
<script src="{% static 'js/users/inputs_signin_validation.js' %}"></script>

{% elif request.path == '/password_reset/' %}

<!-- Script to validate inputs in reset password -->
<script src="{% static 'js/users/inputs_password_reset_validation.js' %}"></script>

{% elif request.path == '/password_reset/done/' %}

<!-- Script to redirects the user to the sign-in page after 30 seconds of being on the current page -->
<script src="{% static 'js/users/signin_redirect.js' %}"></script>

{% endif %} {% endblock %}
