{% extends 'base.html' %}
{% load static %} 
{% block title %}  | Restore password{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/users/password_reset_confirm.css' %}" /> 

<section class="password-reset">
<div class="password-reset__container" id="authentification-form">
<form class="password-reset-form" method="POST">
    <h3 class="password-reset-form__title"> {{ title }} </h3>
    <p class="password-reset-formt__text">Use a minimum of 10 characters, including letters, lowercase and uppercase letters, and numbers.</p>
      {% csrf_token %}
      <label class="password-reset-form__label top-form-label">Password</label>
      <input type="password" name="password" class="password-reset-form__input input" id="password1" required />
      <div class="password-reset-form__error error" id="password1-error-message">{{ form.password.errors.0 }}</div> 
      <label class="password-reset-form__label bottom-form-label">Confirm Password</label>
      <input
        type="password"
        name="confirm_password"
        class="password-reset-form__input input"
        id="password2"
        required
      /> 
      <div class="password-reset-form__error error" id="password2-error-message">{{ form.password.errors.0 }}</div>
      <button type="submit" class="password-reset-form__submit-button" id="change-password-button">{{ button }}</button>
    </form>
</div>
</section>

<script>
  // Define a JavaScript variable to store the CSRF token value
  var csrfToken = "{{ csrf_token }}";
</script>

<!-- Script to validate email inputs in change password -->
<script src="{% static 'js/users/inputs_change_password_validation.js' %}"></script>


{% endblock %}