{% extends 'base.html' %} {% load static %}

<!-- Amending page title -->
{% block title %} | {{ hotel.hotel_name }} {% endblock %}

<!-- Adding navigation block -->
{% block navigation %} {% include 'partials/_navigation.html' %} {% endblock %}

<!-- Adding main content -->
{% block content %}
<!-- Connectiong page CSS styles -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/hotels/hotel_detail.css' %}"
/>
<!-- Connecting styles for JS calendar script -->
<link
  rel="stylesheet"
  href="{% static 'node_modules/flatpickr/dist/flatpickr.min.css' %}"
/>
<main class="main">
  <section class="hotel-photos">
    <div class="container">
      <div class="hotel-photos__container">
        {% if hotel.general_images.all %}
        <img
          src="{{ hotel.general_images.all.0.image.url }}"
          alt="Hotel photo"
          class="hotel-photos__left-photo"
        />
        <div class="hotel-photos__right-photos-container">
          <img
            src="{{ hotel.general_images.all.1.image.url }}"
            alt="Hotel photo"
            class="hotel-photos__right-photo"
          />
          <img
            src="{{ hotel.general_images.all.2.image.url }}"
            alt="Hotel photo"
            class="hotel-photos__right-photo"
          />
        </div>
        {% endif %}
      </div>
    </div>
  </section>
  <section class="page-menu">
    <div class="container">
    <div class="page-menu__container">
      <button type="button" class="page-menu__button active" onclick="showOverview(this)">
        Overview
      </button>
      <button type="button" class="page-menu__button" onclick="showRooms(this)" id="rooms-button">
        Rooms
      </button>
      <button type="button" class="page-menu__button" onclick="showGuestReviews(this)">
        Guest Reviews
      </button>
    </div>
  </div>
  </section>
  <section class="hotel-data">
    <div class="container">
      <div class="hotel-data__container" id="hotel-data-container">
        <div class="hotel-data__left-side-container">
          <h4 class="hotel-data__hotel-title">
            {{ hotel.hotel_name }}
          </h4>
          <div class="hotel-data__rating-container">
            <div class="hotel-data__rating-stars-container">
              {% if hotel.hotel_star_rating >= 1 %}
              <img
                src="{% static 'images/core/icons/star.png' %}"
                alt="Star icon"
                class="hotel-data__hotel-rating-stars-star-icon"
              />
              {% endif %} {% if hotel.hotel_star_rating >= 2 %}
              <img
                src="{% static 'images/core/icons/star.png' %}"
                alt="Star icon"
                class="hotel-data__rating-stars-star-icon"
              />
              {% endif %} {% if hotel.hotel_star_rating >= 3 %}
              <img
                src="{% static 'images/core/icons/star.png' %}"
                alt="Star icon"
                class="hotel-data__rating-stars-star-icon"
              />
              {% endif %} {% if hotel.hotel_star_rating >= 4 %}
              <img
                src="{% static 'images/core/icons/star.png' %}"
                alt="Star icon"
                class="hotel-data__rating-stars-star-icon"
              />
              {% endif %} {% if hotel.hotel_star_rating >= 5 %}
              <img
                src="{% static 'images/core/icons/star.png' %}"
                alt="Star icon"
                class="hotel-data__rating-stars-star-icon"
              />
              {% endif %}
            </div>
            <p class="hotel-data__rating-stars-text">
              Guest rating: {{ hotel.user_rating }} 
              ({{hotel.amount_of_reviews}} Reviews)
            </p>
          </div>
          <div class="hotel-data__address-container">
            <img
              src="{% static 'images/core/icons/geo_blue.svg' %}"
              alt="Gelocation icon"
              class="hotel-data__address-icon"
            />
            <p class="hotel-data__address-text">
              {{ hotel.hotel_street }}, {{ hotel.hotel_city }}, 
              {{ hotel.hotel_county }}, OR {{ hotel.hotel_zip_code }}
            </p>
          </div>
          <div class="hotel-data__general-container">
            <h4 class="hotel-data__general-title title">
              Overview
            </h4>
            <div class="hotel-data__general-text">
              {{ hotel.hotel_description|safe }}
            </div>
            <div class="hotel-data__general-border"></div>
            <h4 class="hotel-data__general-title title">
              Top facilities
            </h4>
            <div class="hotel-data__facilities-column-container">
              {% for facility in facility_data %} {% if forloop.counter0|divisibleby:2 %}
              <div
                class="hotel-data__facilities-row-container"
              >
                {% endif %}
                <div
                  class="hotel-data__facilities-item"
                >
                  <img
                    src="{{ facility.icon }}"
                    alt="{{ facility.name }}"
                    class="hotel-data__facilities-item-icon"
                  />
                  <p
                    class="hotel-data__facilities-item-text"
                  >
                    {{ facility.name }}
                  </p>
                </div>
                {% if forloop.counter|divisibleby:2 or forloop.last %}
              </div>
              {% endif %} {% endfor %}
            </div>
          </div>
        </div>
        <div class="hotel-data__right-side-container">
          <div id="myMap" class="hotel-data__map"></div>
          <h4 class="hotel-data__explore-title">
            Explore the area
          </h4>
          <div class="hotel-data__explore-container"></div>
        </div>
      </div>
      <div class="room-data__container" id="room-data-container">
        <ul
                class="room-data__list"
                id="search-results-container"
              >
              {% for data in room_data %}
              
                <li class="room-data__item">
                  {% if data.room.photo_1 %}
                  <img
                    src="{{ data.room.photo_1.url }}"
                    alt="Room Photo"
                    class="room-data__item-image"
                  />
                  {% endif %}
                  <div class="room-data__info-container">
                    <div
                      class="room-data__info-title-container"
                    >
                      <h4 class="room-data__info-title">
                        <a href="#" class="room-data__info-link" target="_blank">{{ data.room.name }}</a>
                      </h4>

                      {% if data.room.special_discount != '' %}
                      <div
                        class="room-data__info-title-promo room-data__info-title-promo_active"
                      >
                        {{ data.room.special_discount }}
                      </div>
                      {% else %}
                      <div
                        class="room-data__info-title-promo room-data__info-title-promo_not-active"
                      ></div>
                      {% endif %}
                    </div>
                    <div
                      class="room-data__info-general-container"
                    >
                      <div
                        class="room-data__info-general-container-left"
                      >
                        <div
                          class="room-data__room"
                        >
                          <img
                            src="{% static 'images/hotels/icons/bag_gray.svg' %}"
                            alt="Room area icon"
                            class="room-data__room-icon"
                          />
                          <p class="room-data__room-text">
                            {{ data.room.area }} sq ft
                          </p>
                        </div>
                        <div
                          class="room-data__room"
                        >
                          <img
                            src="{% static 'images/hotels/icons/lifebuoy_gray.svg' %}"
                            alt="Room area icon"
                            class="room-data__room-icon"
                          />
                          <p class="room-data__room-text">
                            Sleeps {{ data.room.max_guests }}
                          </p>
                        </div>
                        <div
                          class="room-data__room"
                        >
                          <img
                            src="{% static 'images/hotels/icons/like_gray.svg' %}"
                            alt="Room area icon"
                            class="room-data__room-icon"
                          />
                          <p class="room-data__room-text">
                            {{ data.room.bed_information }}
                          </p>
                        </div>
                        
                        <button
                          type="submit"
                          class="room-data__room-see-availability-button"
                        >
                        <a href="#">Reserve suite</a>
                          
                        </button>
                      </div> 
                      <div
                        class="room-data__info-general-container-right"
                      >
                        {% if data.room.price_discount != 0 %}
                        <div
                          class="room-data__discount-text room-data__discount-text_active"
                        >
                          {{ data.room.price_discount }}% off
                        </div>
                        {% else %}
                        <div
                          class="room-data__discount-text room-data__discount-text_not-active"
                        ></div>
                        {% endif %}
                        <p
                          class="room-data__guests-text"
                        >
                          {{ guests }} {{ duration }} days
                        </p>
                        {% if data.room.price_discount != 0 %}
                        <p
                          class="room-data__price-full-text"
                        >
                          US${{ data.price_with_discount }}
                        </p>
                        <p
                          class="room-data__price-discount-text room-data__price-discount-text_active"
                        >
                          US${{ data.total_price }}
                        </p>
                        {% else %}
                        <p
                          class="room-data__price-full-text"
                        >
                          US${{ data.total_price }}
                        </p>
                        <div
                          class="room-data__price-discount-text room-data__price-discount-text_not-active"
                        ></div>
                        {% endif %}

                        <p
                          class="room-data__taxes-text"
                        >
                          Includes taxes and fees
                        </p>
                      </div>
                    </div>
                  </div>
                </li>
                {% endfor %}
              </ul>
      </div>
      <div class="reviews__container" id="reviews-container">
        <!-- Content for Guest Reviews -->
      </div>
    </div>
  </section>
  <section class="room-search">
    <div class="container">{% include 'partials/_room_search_form.html' %}</div>
  </section>
  <section class="room-list">
    <div class="container">
      <div class="room-list__container" id="room-list-container">
        <div class="room-list__promo">
          <img
            src="{% static 'images/hotels/icons/logo.svg' %}"
            alt="Logo icon"
            class="room-list__promo-icon-logo"
          />
          <img
            src="{% static 'images/hotels/icons/coupon_text.svg' %}"
            alt="Promo text icon"
            class="room-list__promo-icon-text"
          />
          <img
            src="{% static 'images/hotels/icons/traveller.svg' %}"
            alt="Promo text icon"
            class="room-list__promo-icon-traveller"
          />
        </div>
        <div class="room-list__rooms-container">
          {% for room in hotel.hotel_rooms.all|slice:":2" %}
          <div class="room-list__room-container">
            {% if room.photo_1 %}
            <img
              src="{{ room.photo_1.url }}"
              alt="Room Photo"
              class="room-list__room-photo"
            />
            {% endif %}
            <h4 class="room-list__room-title">
              {{ room.name }}
            </h4>
            <div class="room-list__room-text-container-column">
              <div
                class="room-list__room-text-container-row"
              >
                <img
                  src="{% static 'images/hotels/icons/bag_gray.svg' %}"
                  alt="Room area icon"
                  class="room-list__room-text-icon"
                />
                <p class="room-list__room-text">
                  {{ room.area }} sq ft
                </p>
              </div>
              <div
                class="room-list__room-text-container-row"
              >
                <img
                  src="{% static 'images/hotels/icons/lifebuoy_gray.svg' %}"
                  alt="Room area icon"
                  class="room-list__room-text-icon"
                />
                <p class="room-list__room-text">
                  Sleeps {{ room.max_guests }}
                </p>
              </div>
              <div
                class="room-list__room-text-container-row"
              >
                <img
                  src="{% static 'images/hotels/icons/like_gray.svg' %}"
                  alt="Room area icon"
                  class="room-list__room-text-icon"
                />
                <p class="room-list__room-text">
                  {{ room.bed_information }}
                </p>
              </div>
              
            </div>
            <button type="button" class="room-list__reserve-button" onclick="showRoomsData(this);">
              Reserve suite
            </button>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <section class="restrictions">
    <div class="container">{% include 'partials/_warning.html' %}</div>
  </section>
  <section class="footer">
    {% include 'partials/_footer.html' %}
  </section>
</main>

<script>
  function showRoomsData() {
    document.getElementById("hotel-data-container").style.display = "none";
    document.getElementById("room-list-container").style.display = "none";
    document.getElementById("room-data-container").style.display = "flex";
    document.getElementById("reviews-container").style.display = "none";
  
    // Move user's position to the location of room-data-container
    const roomDataContainer = document.getElementById("room-data-container");
    roomDataContainer.scrollIntoView({ behavior: "smooth" });
  
    setActiveButton(document.getElementById("rooms-button"));
  }
  
  function setActiveButton(activeButton) {
    var buttons = document.getElementsByClassName("page-menu__button");
    console.log(buttons);
    for (var i = 0; i < buttons.length; i++) {
      buttons[i].classList.remove("active");
    }
    activeButton.classList.add("active");
  }
  </script>

<!-- Scrip to manipulate buttons and switch page data -->
<script src="{% static 'js/hotels/switch_page_data.js' %}"></script>

<!-- Script to insert search data from previous page into romm search form -->
<script src="{% static 'js/hotels/insert_search_data.js' %}"></script>

<!-- Script for Bing maps to populate explore container and search for hotel location -->
<script>
  var staticUrl = "{% static 'images/hotels/icons/geo_gray.svg' %}";
  var address = "{{ address }}";
  </script>
<script src="{% static 'js/hotels/bing_maps.js' %}"></script>

<script
  src="https://www.bing.com/api/maps/mapcontrol?key=AjAwHqGhcSbLyvJnuBVtFctMKHyTKDPz2qx_PF1sYsQuplSMNqWhc91XBldPI1L0&callback=loadMapScenario"
  async
  defer
></script> 


{% endblock%}