{% extends 'base.html' %} {% load static %}

<!-- Amending page title -->
{% block title %} | Hotel{% endblock%}

<!-- Adding navigation block -->
{% block navigation %} {% include 'partials/_navigation.html' %} {% endblock %}

<!-- Adding main content -->
{% block content %}
<!-- Connectiong page CSS styles -->
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/hotels/hotel_page.css' %}"
/>
<main class="main">
<section class="hotel_photos">
    <div class="container">
        <div class="hotel-photo__container">
            <img
            src="{% static 'images/photos/app/promo_app.jpg' %}"
            alt="Hotel photo"
            class="hotel-photo__container-left"
          />
          <div class="hotel-photo__container-right-photos">
            <img
            src="{% static 'images/photos/app/promo_app.jpg' %}"
            alt="Hotel photo"
            class="hotel-photo__container-right-photo"
          />
          <img
            src="{% static 'images/photos/app/promo_app.jpg' %}"
            alt="Hotel photo"
            class="hotel-photo__container-right-photo"
          />
          </div>
        </div>
    </div>
</section>
</main>

{% endblock%}