input {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #4f4f4f;
  border: none;
  outline-color: #2f80ed;
  background: #f2f2f2;
  padding: 12px 0 10px 40px;
  border-radius: 4px;
}

.hotel-photos__container {
  display: flex;
  margin-top: 24px;
  margin-bottom: 24px;
}

.hotel-photos__left-photo {
  width: 820px;
  height: 452px;
  border-radius: 5px;
}

.hotel-photos__right-photos-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: space-between;
}

.hotel-photos__right-photo {
  width: 400px;
  height: 218px;
  border-radius: 5px;
}

.page-menu__container {
  display: flex;
  align-items: flex-start;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #333333;
}

.page-menu__button {
  padding: 10px 14px;
  margin-right: 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.page-menu__button.active {
  border-bottom: 3px solid #2f80ed;
}

.hotel-data {
  background: #f2f2f2;
}

.hotel-data__container {
  display: flex;
}

.hotel-data__left-side-container {
  display: flex;
  flex-direction: column;
}

.hotel-data__hotel-title {
  padding-top: 40px;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.01em;
  color: #1a1a1a;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.hotel-data__rating-container {
  margin-top: 7px;
  max-height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hotel-data__rating-stars-container {
  display: flex;
  flex-direction: row;
  height: 20px;
  width: 90px;
}

.hotel-data__rating-stars-star-icon {
  height: 20px;
  width: 20px;
}

.hotel-data__rating-stars-star-icon-half {
  height: 20px;
  width: 10px;
}

.hotel-data__rating-stars-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #4f4f4f;
  margin-left: 12px;
}

.hotel-data__address-container {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.hotel-data__address-icon {
  width: 20px;
  height: 20px;
}

.hotel-data__address-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #333333;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-left: 6px;
}

.hotel-data__general-container {
  background: #ffffff;
  border-radius: 6px;
  width: 810px;
  margin-top: 31px;
}

.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #181818;
}

.hotel-data__general-title {
  margin-top: 24px;
  margin-left: 30px;
}

.hotel-data__general-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #4f4f4f;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 40px;
}

.hotel-data__general-border {
  border: 1px solid #e0e0e0;
  margin-top: 44px;
}

.hotel-data__facilities-column-container {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 24px;
  margin-bottom: 40px;
}

.hotel-data__facilities-row-container {
  display: flex;
  flex-direction: row;
}

.hotel-data__facilities-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 12px;
  width: 320px;
}

.hotel-data__facilities-item-icon {
  width: 20px;
  height: 20px;
}

.hotel-data__facilities-item-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #4f4f4f;
  margin-left: 12px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.hotel-data__right-side-container {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.hotel-data__map {
  margin-top: 40px;
  width: 400px;
  height: 240px;
  border-radius: 6px;
}

.hotel-data__explore-title {
  margin-bottom: 22px;
  margin-top: 35px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #181818;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-bottom: 22px;
  margin-top: 35px;
}

.hotel-data__explore-container {
  display: flex;
  flex-direction: column;
}

.hotel-data__explore-item {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.hotel-data__explore-item-icon {
  width: 20px;
  height: 20px;
}

.hotel-data__explore-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #4f4f4f;
  margin-left: 8px;
}

.room-data__container {
  display: none;
}

.room-data__list {
  margin-top: 40px;
  padding-inline-start: 0px;
}

.room-data__item {
  max-width: 915px;
  max-height: 240px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.room-data__item-image {
  width: 285px;
  height: 200px;
  margin: 20px;
  border-radius: 5px;
}

.room-data__info-container {
  width: 562px;
  height: 192px;
  margin: 24px;
  display: flex;
  flex-direction: column;
}

.room-data__info-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.room-data__info-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.room-data__info-link {
  color: #1a1a1a;
}

.room-data__info-title-promo_active {
  width: 190px;
  height: 26px;
  background: #eb5757;
  border-radius: 6px;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-data__info-title-promo_not-active {
  width: 190px;
  height: 26px;
}

.room-data__info-general-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.room-data__info-general-container-left {
  width: 380px;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #4f4f4f;
}

.room-data__room {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.room-data__room-icon {
  width: 20px;
  height: 20px;
}

.room-data__room-text {
  margin-left: 10px;
}

.room-data__room-see-availability-button {
  margin-top: 41px;
  padding: 10px 18px;
  width: 137px;
  height: 40px;
  background: #2f80ed;
  border: 1px solid #2f80ed;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.room-data__room-see-availability-button:hover {
  background: #2969bf;
  border: 1px solid #2969bf;
}

.room-data__room-see-availability-button a {
  color: #ffffff;
}

.room-data__info-general-container-right {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.room-data__discount-text_active {
  width: 54px;
  height: 26px;
  background: #219653;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-data__discount-text_not-active {
  width: 54px;
  height: 26px;
}

.room-data__guests-text {
  margin-top: 6px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #333333;
}

.room-data__price-full-text {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.01em;
  color: #333333;
  margin-left: 8px;
}

.room-data__price-discount_active-text {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  text-decoration-line: line-through;
  color: #eb5757;
}

.room-data__price-discount_not-active-text {
  height: 17px;
}

.room-data__taxes-text {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-top: 6px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 0.02em;
  color: #333333;
}

/*  */

.room-search {
  background: #f2f2f2;
  padding-bottom: 18px;
}

.room-list {
  background: #f2f2f2;
}

.room-list__container {
  display: flex;
  padding-bottom: 100px;
}

.room-list__promo {
  width: 400px;
  height: 340px;
  background: linear-gradient(180deg, #4796ff 0%, #2366bf 100%);
  border-radius: 6px;
  position: relative;
  margin-right: 5px;
}

.room-list__promo-icon-logo {
  position: absolute;
  left: 28px;
  top: 72px;
}

.room-list__promo-icon-text {
  position: absolute;
  left: 28px;
  top: 124px;
}

.room-list__promo-icon-traveller {
  position: absolute;
  left: 154px;
  top: 35px;
}

.room-list__rooms-container {
  display: flex;
  border-radius: 6px;
}

.room-list__room-container {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  border-radius: 6px;
  background: #ffffff;
}

.room-list__room-photo {
  width: 400px;
  height: 200px;
  border-radius: 6px;
}

.room-list__room-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #1a1a1a;
  padding-top: 20px;
  margin-left: 20px;
}

.room-list__room-text-container-column {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #4f4f4f;
  margin-left: 20px;
  margin-top: 18px;
  margin-bottom: 24px;
}

.room-list__room-text-container-row {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.room-list__room-text {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-left: 10px;
}

.room-list__room-text-icon {
  width: 20px;
  height: 20px;
}

.room-list__reserve-button {
  width: 340px;
  height: 44px;
  background: #2f80ed;
  border-radius: 6px;
  margin: 0 auto;
  margin-bottom: 24px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.room-availability__reserve-button:hover {
  background: #2969bf;
  border: 1px solid #2969bf;
}

.restrictions {
  background-color: #f2f2f2;
}

.footer {
  padding-top: 80px;
  background-color: #f2f2f2;
}
